@import "@app/config.scss";

.bluehost.components-button {

  .components-spinner {
    margin: 0 .5em 0 0;
  }

  &.is-primary {
    .components-spinner {
      background: $color-white;
      opacity: 1;

      &:before {
        background-color: $color-blue;
      }
    }
  }
}
