/**
 * 🎨⌨️↔️ Bluehost Style Config
 */
 @import '@app/config.scss';

 @-webkit-keyframes fadeIn {
     from {
       opacity: 0;
     }
   
     to {
       opacity: 1;
     }
   }
   
   @keyframes fadeIn {
     from {
       opacity: 0;
     }
   
     to {
       opacity: 1;
     }
   }
   
 .appFadeIn {
     -webkit-animation-name: fadeIn;
     animation-name: fadeIn;
     -webkit-animation-duration: 330ms;
     animation-duration: 330ms;
     -webkit-animation-delay: 110ms;
     animation-delay: 110ms;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
 }
 
 .sr-only {
     @extend %sr-only;
 }
 
 .is-font {
     font-family: $font;
 }
 
 @each $name, $color in $colors {
     .is-color-#{"" + $name} {
         color: $color;
     }
     .is-bg-#{"" + $name} {
         background-color: $color;
     }
     .is-svg-#{"" + $name} {
         svg {
             fill: $color;
         }
     }
 }
 
 @each $name, $color in $aliases {
     .is-color-#{"" + $name} {
         color: $color;
     }
     .is-bg-#{"" + $name} {
         background-color: $color;
     }
     .is-svg-#{"" + $name} {
         svg {
             fill: $color;
         }
     }
 }