/**
 * 🎨⌨️↔️ Bluehost Style Config
 */
 @import '@app/config.scss';
/* ------------------------- */

#wpwrap,
#wpbody-content {
    background-color: #f1f5f7;
}

#wpcontent {
    padding-left: 0 !important;
}

#wpfooter {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    @media screen and (min-width:$hd-breakpoint) {
        max-width: 1600px;
        margin: 0 auto;
        left: 160px;
    }
}
body.is-booted {
    #wpfooter {
        opacity: 100;
    }
}

body.folded #wpfooter {
    @media screen and (min-width:$hd-breakpoint) {
        left: 32px;
        margin: 0 auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0 !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
}