.mojo-items-wrap{
	border: 1px solid #CACACA;
	border-radius: 4px;
	margin-bottom: 10px;
}
.mojo-items-wrap .item{
	display:block;
	width: 100%;
	border-bottom: 1px solid #CACACA;
	height: 125px;
	padding: 0;
	margin: 0;
}
.mojo-items-wrap .item:last-child{
	border-bottom: 0px;
}
.mojo-items-wrap .box{
	margin: 10px;
	position: relative;
}
.mojo-items-wrap .item-photo{
	padding: 4px;
	border: 1px solid #CACACA;
	border-radius: 4px;
	margin: 4px;
	position: absolute;
	top: 12px;
	left: 0px;
}
.mojo-items-wrap h1, .mojo-items-wrap h2, .mojo-items-wrap h3, .mojo-items-wrap h4, .mojo-items-wrap h5, .mojo-items-wrap h6 {
	font-weight: 400;
	margin: 0 0 1em;
	text-rendering: optimizelegibility;
}
.mojo-items-wrap h5 {
	font-size: 14px;
}
.mojo-items-wrap .item-title{
	padding-top: 15px;
	margin-left: 90px;
	margin-right: 90px;
}
.mojo-items-wrap .item-title .title {
	display: table-cell;
	font-size: 14px !important;
	font-weight: 700;
	margin: 0;
	vertical-align: middle;
}
.mojo-items-wrap .author {
	float: left;
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	vertical-align: middle;
	padding-top: 5px;
}
.mojo-items-wrap .item-details-actions{
	position: absolute;
	right: 0;
	top: 0;
}
.mojo-items-wrap .clear{
	clear: both;
}
.mm-btn-primary{
	background: linear-gradient(to bottom, #71BA00 0px, #71BA00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #548C00;
	border-radius: 4px;
	color: #FFFFFF !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	padding: 5px 5px;
}
.mm-btn-primary:hover{
	background: linear-gradient(to bottom, #62A100 0px, #62A100 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.mojo-items-wrap .item .item-details-actions .price {
	border-bottom: 1px solid #CACACA;
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 4px;
}
.mojo-items-wrap .item .item-details-actions .sales {
	padding-bottom: 10px;
	padding-top: 4px;
	font-size: 12px;
}
.mojo-items-wrap .item .item-details-actions {
	text-align: center;
}



/*
Style for the Widget Preview
*/
.mojo-widget-item{
	position: relative;
}
.mojo-widget-preview{
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	max-width: 500px;
	height: auto;
	display: none;
	z-index: 99;
}
.mojo-widget-item:hover .mojo-widget-preview{
	display: inline-block;
}