.toplevel_page_mojo-themes #wpcontent,
.marketplace_page_mojo-services #wpcontent,
.marketplace_page_mojo-plugins #wpcontent,
.marketplace_page_mojo-graphics #wpcontent,
.admin_page_mojo-single-item #wpcontent,
.admin_page_mojo-search #wpcontent {
	padding-left:0px;
}

/* ---------------------------------------------------------
   1. Embedded fonts styles
   2. Common site styles
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/

/* ---------------------------------------------------------
   1. Embedded fonts styles
   ---------------------------------------------------------*/

.clearfix:after,
.theme-item .info-box:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

/* ---------------------------------------------------------
	2. Common site styles
	---------------------------------------------------------*/

body {
	font-weight: 300;
}

a {
	-webkit-transition: color .3s, background .3s;
	transition: color .3s, background .3s;
}

a:focus {
	outline: none;
}

select.form-control {
	color: rgba(145, 145, 145, .7);
	box-shadow: none;
	line-height: 1.5;
}

.fake-select {
	position: relative;
	display: inline-block;
}

select::-ms-expand {
	display: none;
}

select {
	display: inline-block;
	font: inherit;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
}

.fake-select:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20px;
	background: transparent;
	pointer-events: none;
	z-index: 1;
}

.fake-select:after {
	position: absolute;
	right: 11px;
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: #919191 transparent transparent transparent;
	margin-top: -2px;
	line-height: 0;
	z-index: 1;
}

label {
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 20px;
}

dl dt {
	font-weight: 500;
}

dl.dl-horizontal dt {
	margin-right: 5px;
}

/* main container styles */

#mojo-wrapper {
	overflow: hidden;
	padding-bottom: 65px;
}

/* styles for header background cover */

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
}

.visible {
	display: block !important;
}

/* default bootstrap styles rewriting */

.input-lg {
	font-size: 16px;
	font-style: italic;
	letter-spacing: -.02em;
}

.btn-lg {
	padding-left: 37px;
	padding-right: 37px;
}

.btn {
	-webkit-transition: color .3s, background .3s, border-color .3s;
	transition: color .3s, background .3s, border-color .3s;
	font-weight: 300;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn.focus:active,
.btn.active:focus,
.btn.active.focus {
	outline: none;
	border-color: inherit;
}

.breadcrumb li + li:before {
	padding: 0 1px;
}

.btn-group-vertical > .btn {
	border-radius: 2px !important;
}

.btn-group-vertical > .btn.btn-lg {
	border-radius: 2px !important;
}

.panel {
	border-width: 0;
	box-shadow: none;
}

.panel > .list-group,
.panel > .panel-collapse > .list-group {
	margin-bottom: 0;
}

.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
	border-width: 2px 0;
	margin-bottom: -2px;
}

.panel .breadcrumb {
	background: none;
	padding: 0 1px;
	margin: 0;
	font-size: 22px;
	margin: 0;
}

.panel .breadcrumb a {
	color: #b8b8b8;
}

.panel .breadcrumb a:hover {
	color: #0c92f2;
}

.search > li + li:before {
	content: " "!important;
}

.panel #content {
	padding: 35px 10% 4px 7px;
}

.panel #sidebar {
	margin-top: -23px;
	margin-right: -23px;
	position: relative;
}

.panel #sidebar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: -2px;
	right: -2px;
	height: 9999px;
	z-index: 5;
}

.panel .btn-lg {
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 15px;
}

.panel-heading,
.panel-footer {
	border-bottom-width: 2px;
}

.panel-heading .form-horizontal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-top: 5px;
}

.panel-heading .form-horizontal .fake-select {
	padding-left: 14px;
}

.panel-heading .form-horizontal .form-control {
	min-width: 160px;
}

.panel-heading .form-horizontal .control-label {
	padding-top: 0;
}

.panel-heading .rating-label {
	margin-top: -4px;
}

.panel-body .list-group {
	margin: 0;
}

.item-pagination {
	margin: 20px;
	text-align: center;
}
/* star rating styles */

.star-rating {
	font-size: 14px;
	padding: 1px 0;
	margin: 0 0 24px;
}

.star-rating ul {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px 0 0;
}

.star-rating ul > li {
	padding-left: 1px;
	padding-right: 0;
}

.star-rating ul > li.disabled a {
	color: rgba(35, 31, 32, .3);
	cursor: default;
}

.star-rating a {
	color: rgba(35, 31, 32, .5);
}

.star-rating a:hover {
	color: #0c92f2;
}

.star-rating .rating-label {
	display: inline-block;
	vertical-align: middle;
}

/* custom list with checkbox icon */

.custom-list .icon-check {
	font-size: 12px;
	margin: 0 15px 0 2px;
	color: #b2b2b2;
	position: absolute;
	left: 2px;
	top: 9px;
}

.custom-list li {
	position: relative;
	padding-left: 28px;
}

/* common styles for price block */

.price {
	line-height: 1;
	margin: 0 0 30px;
}

/* common styles for price number */

.price-number {
	font-size: 43px;
	color: #5b5b5b;
	display: inline-block;
	vertical-align: middle;
}

/* common styles for price currency */

.currency {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 10px;
}

/* styles for avatar block */

.avatar-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 14px;
	margin: 0 0 19px;
}

.avatar-block:last-child {
	margin-bottom: 0;
}

.avatar-block .name {
	font-weight: 300;
}

.avatar-block .avatar > a {
	font-size: 16px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #b2b2b2;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #f1f1f1;
	margin-right: 16px;
}

.avatar-block .avatar > a:hover {
	color: #0c92f2;
}

.avatar-block a {
	color: #919191;
}

.avatar-block a:hover {
	color: #0c92f2;
}

/* header styles */

#header .header-block {
	padding: 34px 0 0;
}

#header .header-holder {
	clear: both;
	margin-bottom: 90px;
}

#header .navbar-collapse {
	background: rgba(0, 0, 0, .4);
}

#header .inner-holder {
	padding: 0 30px;
}

.menu-holder {
	margin-bottom: 33px;
	position: relative;
	color: #fff;
}

.menu-holder .navbar-toggle {
	position: relative;
	z-index: 1005;
}

.menu-holder .dropdown-menu {
	background: #23282d;
	padding: 56px 23px 39px;
	top: -17px;
	right: -19px;
	min-width: 211px;
	box-shadow: none;
}

.menu-holder a {
	color: #fff;
}

.menu-holder a:hover {
	color: #0c92f2;
	background: none;
}

.menu-holder .avatar-block {
	margin: 0 0 42px;
}

.menu-holder .avatar-block a {
	color: #fff;
}

.menu-holder .avatar-block a:hover {
	color: #0c92f2;
}

.menu-holder .name {
	font-weight: 300;
}

.menu-holder .avatar > a {
	background: #fff;
	color: #b2b2b2;
}

.menu-holder .projects-nav {
	padding-left: 17px;
}

.menu-holder .projects-nav li {
	margin: 0 0 12px;
}

.menu-holder .powered {
	font-size: 11px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.menu-holder .powered img {
	margin-left: 7px;
}

.navbar {
	border: none;
}

/* page logo styles */

.navbar-brand {
	width: 25%;
	margin: 10px 0 0 2px;
}

/* header search form styles */

.navbar-form {
	width: 69.1%;
	font-size: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.navbar-form .form-group {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.navbar-form .form-control {
	width: 100%;
	border: none;
}

.navbar-form .btn {
	min-width: 140px;
	margin-left: 26px;
}

/* header navbar toggle button styles */

.navbar-toggle {
	padding: 0;
	margin: 0;
}

.navbar-toggle .icon-bar {
	width: 28px;
	height: 3px;
	border-radius: 0;
}

/* styles for justified navigation */

.justified-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
/*	float: none;*/
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.justified-nav > li {
	float: none;
}

/*Dropdown navigation*/

.justified-nav > li .dropdown {
	border-radius: 0 0 4px 4px;
    position: absolute;
    top: 100%;
    z-index: 99;
    background-color: #ffffff;
    padding: 8px 0;
    border-bottom: 2px solid #c8c8c8;
    display: none;
    -webkit-box-shadow: 0px 7px 18px 0px rgba(91,91,91,0.24);
	-moz-box-shadow: 0px 7px 18px 0px rgba(91,91,91,0.24);
	box-shadow: 0px 7px 18px 0px rgba(91,91,91,0.24);
}

.justified-nav > li:hover .dropdown {
	display: block;
}

.justified-nav > li .dropdown li.popular {
	padding-bottom: 8px;
}

.justified-nav > li .dropdown li.popular a {
	border-bottom: 1px solid #d2d2d2;
    padding-bottom: 8px;
    color:  #5b5b5b;
}

.justified-nav > li .dropdown .menu {
	margin: 0;
    padding: 0;
}

.justified-nav > li .dropdown li {
	white-space: nowrap;
    display: block;
    padding: 2px 8px;
}

.justified-nav > li .dropdown li a {
	display: block;
    padding: 2px 8px;
    font-size: 14px;
    color: #5b5b5b;
}

.justified-nav > li .dropdown li a:hover {
	color: #000000;
}

/* main styles for header navigation */

.navbar-nav {
	margin: 0 -10px;
}

.navbar-nav:before,
.navbar-nav:after {
	display: none;
}

.navbar-nav > li {
	padding: 0 18px;
	margin-bottom: 0px;
}

.navbar-nav > li.active > a {
	font-weight: 500;
	letter-spacing: -.014em;
}

.navbar-nav > li.active > a:before {
	opacity: 1;
	left: 0;
	right: 0;
}

.navbar-nav > li > a {
	padding: 14px 0 11px;
	display: inline-block;
	position: relative;
}

.navbar-nav > li > a:before {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0;
	height: 4px;
	background: #fff;
	width: auto;
	opacity: 0;
	-webkit-transition: width .3s, left .3s, right .3s, opacity .3s;
	transition: width .3s, left .3s, right .3s, opacity .3s;
}

.navbar-nav > li > a:hover {
	font-weight: 500;
	letter-spacing: -.014em;
}

/* main informative part styles */

#main {
	padding: 25px 0;
}

/* custom styled for theme page */

.themes-page #header .menu-holder {
	margin-bottom: 23px;
}

.themes-page .navbar-form {
	width: 65.2%;
}

.themes-page .navbar-brand {
	width: 30%;
	font-size: 17px;
}

.themes-page .navbar-brand > img {
	display: inline-block;
	vertical-align: bottom;
}

.themes-page .navbar-brand .brand-label {
	margin-left: 19px;
}

/* post holder styled */

.post-holder h2 {
	font-size: 18px;
	margin: 0 0 33px;
}

.post-holder .img-block {
	margin: 0 0 94px;
}

.post-holder .text-block {
	margin: 0 0 33px;
}

.post-holder .text-block:last-child {
	margin-bottom: 0;
}

/* theme page items styles */

.theme-item {
	padding: 21px 0 16px;
	border-width: 0 0 2px;
	border: none;
	margin: 0;
}

.theme-item:before {
	content: "";
	position: absolute;
	left: -100px;
	right: -100px;
	height: 2px;
	bottom: -2px;
	background: #f1f1f1;
	z-index: 10;
}

.theme-item:last-child {
	padding-bottom: 0;
}

.theme-item:last-child:before {
	display: none;
}

.theme-item:first-child {
	padding-top: 0;
}

.theme-item h2 {
	font-size: 26px;
	line-height: 1.3;
	margin: 0 0 13px;
}

.theme-item h2 a {
	color: #5b5b5b;
}

.theme-item .info-box {
	padding: 10px 0;
}

.theme-item .star-rating {
	padding: 7px 0 0;
	margin: 0;
}

/* sidebar styles */

#sidebar {
	font-size: 14px;
}

#sidebar dl {
	margin-bottom: 25px;
}

#sidebar dt,
#sidebar dd {
	line-height: 2.04;
}

#sidebar h3 {
	margin: 0 0 28px;
}

.pagination, .pagination ul {
    border-spacing: 0 !important;
    margin: 0;
    padding: 0;
}
.pagination::before, .pagination ul::before, .pagination::after, .pagination ul::after {
    content: "";
    display: table;
}
.pagination::after, .pagination ul::after {
    clear: both;
}
.pagination li, .pagination .pagniation-link, .pagination .pagination--box, .pagination .pagination--prev, .pagination .pagination--next {
    display: block;
    float: left;
}
.pagination a, .pagination .pagination--link {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e6e6e6;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #8c8c8c;
    display: block;
    font-size: 14px;
    list-style-type: none;
    padding: 5px 12px;
    text-decoration: none;
}
.pagination a:hover, .pagination .pagination--link:hover {
    background-color: #f3f3f3;
    color: #181818;
}
.pagination a .icon-angle-right, .pagination .pagination--link .icon-angle-right, .pagination a .icon-angle-left, .pagination .pagination--link .icon-angle-left {
    position: relative;
    top: 2px;
}
.pagination .disabled {
    color: #8c8c8c;
    font-size: 14px;
    opacity: 0.5;
    text-decoration: none;
}
.pagination .disabled:first-child a {
    border-radius: 4px 0 0 4px;
}
.pagination .disabled:first-child {
    border-right: 0 none;
}
.pagination .disabled:last-child {
    border-left: 0 none;
}
.pagination .active a, .pagination li.current {
    background-color: #ebebeb;
    color: #181818;
    font-weight: 700;
}
.pagination li.current {
    border: 1px solid #e6e6e6;
    font-size: 14px;
    padding: 5px 12px;
}
.pagination .prev a, .pagination .pagination--prev a {
    border-radius: 4px 0 0 4px;
}
.pagination .next a, .pagination .pagination--next a {
    border-left-width: 1px;
    border-radius: 0 4px 4px 0;
    border-right-width: 1px;
}

/* sidebar widget styles */

.widget {
	border: solid #f1f1f1;
	border-width: 0 0 2px 2px;
	padding: 45px 40px 39px;
}

.widget .price {
	margin: 35px 0 14px;
}

.widget .price-number {
	display: block;
	margin: 0 0 5px;
}

.widget .currency {
	display: block;
	margin: 0;
}

.widget .turnaround {
	line-height: 1.4;
	display: block;
}

.provider-avatar{
	width: 36px;
	height: 36px;
	border-radius: 18px;
	margin-right: 15px;
}

/* ---------------------------------------------------------
   3. Styles for responsive breakpoints
   ---------------------------------------------------------*/

@media screen and (max-width: 1199px) {
	.panel #content {
		padding: 35px 0 4px;
	}
}

@media screen and (max-width: 1023px) {
	#mojo-wrapper {
		padding-bottom: 40px;
	}

	.btn-lg {
		padding-left: 20px;
		padding-right: 20px;
	}

	.panel .breadcrumb {
		font-size: 18px;
	}

	.panel #content {
		padding: 0;
	}

	.panel .btn-lg {
		margin: 0 0 10px;
	}

	.panel-heading {
		padding: 10px 23px;
	}

	.panel-heading .form-horizontal {
		padding: 0;
	}

	.panel-heading .form-horizontal .fake-select {
		padding-left: 10px;
	}

	.panel-heading .form-horizontal .form-control {
		min-width: 130px;
	}

	.price-number {
		font-size: 35px;
	}

	.avatar-block {
		margin: 0 0 15px;
	}

	#header .header-block {
		padding: 25px 0 0;
	}

	#header .header-holder {
		clear: none;
		margin-bottom: 0;
	}

	#header .navbar-collapse {
		box-shadow: none;
		background: none;
		text-align: center;
	}

	#header .inner-holder {
		padding: 0 0 25px;
	}

	.menu-holder .navbar-toggle {
		line-height: 1.2;
		height: auto;
		margin: 0 10px;
		font-size: 13px;
		border: solid #fff;
		border-width: 0 0 2px;
		-webkit-transition: border-color .3s;
		transition: border-color .3s;
	}

	.menu-holder .navbar-toggle:hover {
		border-color: #0c92f2;
	}

	.menu-holder .powered {
		display: block;
		margin: 30px -30px 0 0;
		clear: both;
	}

	.navbar-brand {
		width: 50%;
		margin: 0 0 40px;
	}

	.navbar-form {
		clear: both;
		width: 100%;
		padding: 0;
		border: none;
		box-shadow: none;
	}

	.navbar-form .form-group {
		margin: 0;
	}

	.justified-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.navbar-nav > li > a {
		line-height: 1.2;
	}

	#main {
		padding: 0;
	}

	.themes-page .navbar-form {
		width: 100%;
	}

	.themes-page .navbar-brand {
		width: 40%;
		font-size: 14px;
	}

	.themes-page .navbar-brand .brand-label {
		display: block;
		margin: -4px 0 0;
	}

	.post-holder h2 {
		margin: 0 0 20px;
	}

	.post-holder .img-block {
		margin: 0 0 30px;
	}

	.post-holder .text-block {
		margin: 0 0 25px;
	}

	.theme-item h2 {
		font-size: 22px;
	}

	#sidebar dl {
		margin: 0 0 15px;
	}

	#sidebar dt,
	#sidebar dd {
		line-height: 1.3;
	}

	#sidebar dd {
		margin: 0 0 5px;
	}

	#sidebar h3 {
		margin: 0 0 15px;
	}

	.widget {
		padding: 20px;
	}

	.widget .price {
		margin: 0 0 10px;
	}
}

@media screen and (max-width: 767px) {
	body {
		line-height: 1.3;
		font-size: 14px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 15px;
	}

	h1 {
		font-size: 20px;
	}

	h2 {
		font-size: 19px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 17px;
	}

	#mojo-wrapper {
		padding-bottom: 30px;
	}

	.input-lg {
		font-size: 14px;
	}

	.btn-lg,
	.input-lg {
		height: 36px;
		padding: 8px 10px;
		font-size: 13px;
	}

	.btn-lg {
		padding-left: 10px;
		padding-right: 10px;
	}

	.panel .breadcrumb {
		font-size: 16px;
		margin: 0 0 25px;
	}

	.panel #sidebar {
		margin: 0;
	}

	.panel #sidebar:after {
		display: none;
	}

	.panel .btn-lg {
		font-size: 14px;
	}

	.panel-heading {
		padding: 10px;
	}

	.panel-heading .form-horizontal .fake-select {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
	}

	.panel-heading .form-horizontal .form-control {
		max-width: 100%;
		width: auto;
		min-width: 100%;
	}

	.panel-heading .form-horizontal .control-label {
		margin: 0;
	}

	.panel-heading .rating-label {
		margin-top: 0;
	}

	.panel-body {
		padding: 10px;
	}

	.star-rating {
		margin: 0 0 15px;
		padding: 0;
		font-size: 13px;
	}

	.star-rating ul {
		margin-right: 10px;
	}

	.custom-list .icon-check {
		margin-right: 10px;
		top: 3px;
	}

	.custom-list li {
		margin: 0 0 10px;
		padding-left: 24px;
	}

	.price {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.price-number {
		display: block;
		margin: 0 0 5px;
	}

	.currency {
		display: block;
		margin: 0;
	}

	#header .header-block {
		padding: 20px 0 0;
	}

	#header .inner-holder {
		padding-bottom: 20px;
	}

	.menu-holder {
		margin-bottom: 25px;
	}

	.menu-holder.open .navbar-toggle {
		border-color: #0c92f2;
	}

	.menu-holder .dropdown-menu {
		right: 0;
		top: -10px;
		padding: 40px 20px 20px;
	}

	.menu-holder .avatar-block {
		margin: 0 0 20px;
	}

	.menu-holder .projects-nav {
		padding: 0;
	}

	.menu-holder .projects-nav li {
		margin: 0 0 8px;
	}

	.menu-holder .powered {
		display: none;
	}

	.navbar-brand {
		margin: 0 0 20px;
	}

	.navbar-brand img {
		max-width: 180px;
		height: auto;
		width: 100%;
	}

	.navbar-form .btn {
		min-width: 0;
		margin-left: 5px;
	}

	.navbar-nav > li > a {
		padding: 8px 0;
	}

	.themes-page .navbar-brand > img {
		max-width: 100px;
	}

	.post-holder h2 {
		margin: 0 0 15px;
	}

	.post-holder .img-block {
		margin: 0 0 20px;
	}

	.theme-item h2 {
		font-size: 20px;
	}

	.theme-item .star-rating {
		margin: 0 0 15px;
		padding: 10px 0 0;
	}

	.theme-item img {
		margin-bottom: 20px;
	}

	.theme-item .btn-group-vertical {
		display: block;
		float: left;
		width: 70%;
	}

	.theme-item .btn-group-vertical .btn {
		float: left;
		width: calc(50% - 18px);
		margin: 9px;
	}

	.theme-item .btn-group-vertical .btn:first-child {
		margin-left: 0;
	}

	.theme-item .btn-group-vertical .btn:last-child {
		margin-right: 0;
	}

	.theme-item .price {
		margin: 0;
		float: right;
		width: 30%;
	}

	.widget {
		border-width: 2px 0 0;
		padding: 20px 0;
	}
}

