.component-help-card {
    .illustration {
        margin: 0 auto;
        max-width: 300px;
    }
    h4 {
        text-align: center;
    }
    .description {
        margin: 1rem auto;
        max-width: 450px; 
        text-align: center;
    }
    .cta {
        display: flex; 
        justify-content: center;
    }
}