@import '@/config.scss';

.bluehost-snackbar {
  font-family: $body-font;
  position: fixed;
  bottom: 50px;
  left: 100px;
  width: 470px;
  z-index: 9999;
  padding: 16px;
  border-left-color: $color-blue;
  background-color: $color-white;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);

  &.is-error {
    border-left-color: $color-red;
    background-color: $color-white;

    .bluehost-snackbar__icon{
      svg, path {
        fill: $color-red;
      }
    }
  }

  &.is-warning {
    border-left-color: $color-yellow;
    background-color: $color-white;

    .bluehost-snackbar__icon{
      svg, path {
        fill: $color-yellow;
      }
    }
  }

  &.is-success {
    border-left-color: $color-green;
    background-color: $color-white;

    .bluehost-snackbar__icon{
      svg, path {
        fill: $color-green;
      }
    }
  }

  .components-notice__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    display: flex;
    width: 32px;
    margin-right: 16px;

    svg {
      fill: $color-blue;
      width: 32px;
    }

    &:empty {
      width: auto;
      margin: 0;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    @extend %text-m;
    font-weight: bold;
    color: $color-black;
  }

  &__message {
    @extend %text-sm;
    color: $color-grey;
  }

  &__close {
    background: transparent;
    border: none;
    display: flex;
  }

}