@import "@/config.scss";

.bluehost-marketplace {

  &__header-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
  }

  &__content {
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 9px;

    .pagination {
      margin-top: 0;
    }
  }

}