@import "@app/config";

.is-title-1,
.is-title-2,
.is-title-3,
.is-title-4 {
    font-weight: 600 !important;
}

.is-title-0 {
    @extend %sr-only;
}

.is-title-1 {
    @extend %text-1;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.is-title-2 {
    @extend %text-2;
}

.is-title-3 {
    @extend %text-3;
}

.is-title-4 {
    @extend %text-4;
}

.is-title-welcome {
    font-size: 32px !important;
    line-height: 40px !important;
    margin-top: 0 !important;
    font-weight: 300 !important;
}

.is-page-title {
    margin-top: 0 !important;
}