@import '@/config.scss';

.product-card {

  border: 1px solid #D8DDE2;
  border-radius: 3px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 16px;
  }

  &__image {
    overflow: hidden;
    height: 0;
    padding-top: (660px/1180px) * 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__action-group {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    font-weight: 400 !important;
  }

  &__price {
    margin-left: 24px;
    font-size: 28px;
    line-height: 40px;
    color: $color-primary;

    &:before {
      content: "$";
    }
  }

  &__favorite {
    visibility: hidden;
    font-size: 2em;
    position: relative;
    bottom: 15px;

    &:hover {
      color: $color-primary;
    }

    &.--is-favorite {
      color: $color-primary;
    }
  }

}