@import "../../config";

.components-button.bluehost {
  padding: 0.5rem 1rem;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  height: auto;
  &.is-primary {
    border: 1px solid transparent;
    background: $color-primary;
    box-shadow: none;
    text-shadow: none;
  }
  &.is-default {
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    &:hover {
      background: $color-primary;
      color: #fff;
    }
    &:active {
      background: $color-primary;
      color: #fff;
    }
    &:visited{
      background: $color-primary;
      color: #fff;
    }
  }
}
