@import '@app/config.scss';

$mobile-padding: 30px;

.page-blue-sky {
  margin-top: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  background: white url('images/clouds-top.svg') top center no-repeat;
  background-size: contain;

  &.base-template {
    padding-top: 5px;
    max-width: none;
  }

  .section-title {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    font-weight: 300;
    padding: 80px $mobile-padding 70px $mobile-padding;
  }

  .components-button.bluehost.is-primary {
    border-radius: 3px;
    color: $color-white;
    background-color: $color-blue;
    text-shadow: none;
    margin-left: 0;
    &:hover {
      color: $color-white !important;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .call-to-get-started {
    color: $color-blue;
    font-size: 16px;
    font-weight: 300;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .section-logo {
    display: flex;
    justify-content: center;
    padding: 90px 0 70px 0;
  }

  .section-intro {
    max-width: 710px;
    margin: 0 auto;
    padding: 0 $mobile-padding;
  }

  .media-block {
    display: flex;

    &__media {
      width: 359px;
      margin-right: 15px;
      flex-shrink: 0;

      img {
        width: 400px;
      }
    }

    &__title {
      color: #5C5C5C;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      margin: 0 0 1rem 0;
    }

    &__description {
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      &__media, &__details {
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media screen and (max-width: 460px) {
      &__media {
        margin-right: 0;
        margin-left: -30px !important;
      }
    }

  }

  .section-pricing {

    padding: 0 30px 100px 30px;

    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 970px;
      margin: 30px auto 0 auto;
    }

    .product-card {
      border: none;
      border-radius: 3px;
      box-shadow: 0 2px 5px 0 rgba(42, 47, 69, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
      padding: 32px 13px 60px 13px;
      position: relative;
      width: 280px;
      margin: 25px;
      text-align: center;
      flex-shrink: 0;

      &:last-child {
        margin-right: 0;
      }

      &__title {
        color: $color-blue;
        font-size: 32px;
        font-weight: 300 !important;
        line-height: 43px;
        margin-bottom: 20px;
      }

      &__description {
        font-size: 16px;
        line-height: 24px;
      }

      &__call-to-action {
        margin: 2rem 0;
      }

      &__feature {
        border-bottom: 1px solid #E6E6E6;
        line-height: 19px;
        padding: 6px;

        &:last-child {
          border-bottom: none;
        }
      }

      @media screen and (max-width: 1184px) {
        &:last-child {
          margin-right: 25px;
          margin-top: calc(42px + 25px);
        }
      }

    }

    .product-highlight {
      color: $color-white;
      position: absolute;
      background-color: $color-blue;
      height: 42px;
      top: -42px;
      line-height: 42px;
      left: 0;
      right: 0;
      font-size: 16px;
      text-align: center;
      border-radius: 3px;
    }
  }

  .section-whats-new {
    background-color: #F9F9F9;
    padding: 0 0 30px 0;

    .section-title {
      padding-bottom: 0;
    }

    .new-feature {
      max-width: 670px;
      margin: 80px auto;
      display: flex;

      &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
      }

      &__content {
        margin-left: 40px;
      }

      @media screen and (max-width: 730px) {
        display: block;
        max-width: none;
        margin-left: $mobile-padding;
        margin-right: $mobile-padding;
        &__image {
          margin-bottom: 40px;

          svg {
            margin: 0 auto;
            display: block;
          }
        }
        &__content {
          margin-left: 0;
        }
      }
    }
  }

  .section-features {

    padding: 0 $mobile-padding;

    .feature-list {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .feature-card {
      flex-basis: 324px;
      text-align: center;
      padding: 40px;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-grow: 0;

      &__image {
        max-height: 47px;
      }

      &__title {
        font-size: 20px;
        line-height: 24px;
        margin: 2.5rem 0 1rem 0;
      }

      &__description {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }

  .section-testimonials {
    .testimonials {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .testimonial-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 292px;
      margin: calc(186px / 2) 18px 1rem 0;
      padding: calc(186px / 2) 2rem 2rem 2rem;
      box-shadow: 0 2px 5px 0 rgba(42, 47, 69, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
      box-sizing: border-box;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &__image {
        position: absolute;
        top: calc(-186px / 2);
        left: 50%;
        transform: translateX(calc(-186px / 2));
      }

      &__title {
        color: #4A4A4A;
        font-size: 18px;
        font-weight: 600;
        line-height: 31px;
        margin: 19px 0 14px 0;
      }

      &__quote {
        color: #4A4A4A;
        font-weight: 300;
        line-height: 31px;
        flex-grow: 1;

        &:before {
          content: '"';
        }

        &:after {
          content: '"';
        }
      }

      &__author {
        margin-top: 2rem;
        color: #4A4A4A;
        font-size: 28px;
        font-weight: 600;
        line-height: 27px;
      }

      &__website {
        color: #4A4A4A;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
      }
    }
  }

  .section-call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $mobile-padding 160px $mobile-padding;

    .section-title {
      padding-bottom: 2rem;
    }

    .call-to-action {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        color: #4A4A4A;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 2rem;
        font-weight: 300;
        text-align: center;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width: 498px) {
      strong {
        display: block;
      }
    }
  }

}
