@import "@app/config.scss";

.component-template-marketplace {
  @extend %template-common;
}

.bluehost-marketplace {
  &__header-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .marketplace-page-title {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      position: relative;
      top: -28px;
    }
    @media screen and (min-width:768px) {
      max-height: 64px; // TODO: Update media query and test
    }
    .pagination {
      margin-top: 0;
    }
  }

  &__header-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
    flex-wrap: wrap;

    .search-box {
      margin-right: 2em;
    }
    .dropdown__label {
      font-weight: 600;
    }
  }

  &__pagination-container {
    min-height: 96px;
  }

  &__content {
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 9px;

    .pagination {
      margin-top: 0;
    }
  }

  @media (max-width: 624px) {
    h1 {
      margin-top: 0;
    }
    .pagination {
      margin-top: 1rem;
    }
    .search-box {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 687px) {
    .search-box {
      margin-bottom: 1rem;
    }
  }

}
