@import "@app/config";

.content-list {
    &__box {
        @extend %border-box;
        padding: 0 24px;
        @media (max-width: 600px) {
            margin-left: -24px;
            width: 100%;
        }
    }
}