.wppb-header {
    align-content: center;
    background: var(--color-white);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px 12px 0;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1320px;
        margin: 0 auto;
        width: 100%;
    }
}

// .wppb-logo-wrap {
//     margin-left: 12px;
//     a.components-button {
//         padding: 2rem 12px;
//         border-radius: 0 !important;
//         &:focus:not(:disabled) {
//             box-shadow: inset 0px 0px 0px 1px var(--color-primary);
//         }
//     }
// }

.wppb-nav-utility {
    align-content: center;
    display: flex;
}
.wppb-nav-utility-link {
    display: block;
    margin: 6px 16px 0 0;
}

.wppb-nav {
    padding: 1.33rem;
    will-change: background-color;
    transition: background-color 0.33s ease;
    background-color: var(--color-primary);
    background: linear-gradient(114deg, var(--color-primary) 45%, var(--color-primary) 60%, var(--color-primary) 80%);
}

.wppb-nav-large {
    display: flex;
    list-style: none;
    max-width: 1320px;
    margin: 0 auto;
    gap: 2rem;
    li {
        margin-bottom: 0; // wp core override
        display: flex;
        position: relative;
        top: 3.5px;
        &:first-of-type {
            margin-left: 1rem;
        }
    }
    .wppb-nav-large__link {
        display: inline;
        color: var(--color-white) !important;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 500;
        transition: all;
        box-shadow: none !important;
        -webkit-box-direction: normal;
        white-space: nowrap;
        &:after {
            content: '';
            background-color: var(--color-white);
            margin-top: 5px;
            height: 2px;
            width: 100%;
            display: block;
            position: relative;
            opacity: 0;
            -webkit-transition: opacity .3s,-webkit-transform .3s;
            transition: opacity .3s,transform .3s,-webkit-transform .3s;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            box-sizing: border-box;
        }
        &.active:after,
        &:hover:after {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            opacity: 1;
        }
        &.active:hover:after {
            opacity: 0.5;
        }
    }
}


.wppb-page {
    // marketplace and default green applied in .wppb-nav
}

.wppb-nav-utility {

    a {
        text-decoration: none;
        fill: var(--color-text);

        span.dashicon {
            color: var(--color-text);
            width: 28px;
            height: 28px;
            font-size: 28px;
        }

        &.active {
            fill: var(--color-primary);

            span.dashicon {
                color: var(--color-primary);
            }
        }
        &:focus {
            box-shadow: none !important;
        }
    }
}

ul.nav-mobile {
    li {
        margin-bottom: 0.5rem;
    }
    a.components-button.is-secondary {
        padding: 1.5rem 1rem 1.66rem 1rem;
        color: var(--color-text);
        box-shadow: inset 0px 0px 0px 2px var(--color-text);
        &:hover,
        &:active {
            color: var(--color-primary-dark);
            box-shadow: inset 0px 0px 0px 2px var(--color-primary-dark);
        }
    }
}

.components-button.mobile-toggle.has-icon {
    padding-right: 6px;
    margin-right: 6px;
}