@import '@app/config.scss';

#app-error {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    padding: 24px 12px 12px 12px;
    .warning-icon-wrap {
        padding-top: 43px;
        display: block;
        width: 100%;
        svg {
            display: block;
            margin: 0 auto;
            fill: $color-orange;
            height: 62.96px;	
            width: 70.83px;
        }
    }
    h3 {
        font-family: $font;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 28px;
            line-height: 34px;
        }
    }
    p {
        font-family: $font;
        font-size: 14px;
        line-height: 24px;
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
    }
    .cta-wrap {
        width: 480px;
        margin: 32px auto;
        text-align: left;
    }
    .error-illustration-wrap {
        width: 100%;
        svg {
            display: block;
            margin: 0 auto;
            min-width: 360px;
            width: 40vw;
            max-width: 920px;
        }
    }
}