/* BLUEHOST STYLES CONFIG */
@import '@app/config.scss';

.mobile-toggle {
    .components-button {
        position: relative;
        top: -8px;
        left: 12px;
    }
}

// .components-popover.bluehost-mobile-menu {
//     position: fixed;
//     top: 0 !important;
//     left: -1px !important;
//     height: 100vh;
//     width: 80vw;
//     &.components-animate__appear.is-from-top.is-from-right {
//         transform-origin: left !important;
//         animation-duration: 0ms;
//     }
//     .components-popover__content {
//         height: 100%;
//         width: 80vw;
//         right: initial !important;
//         max-height: initial !important;
//     }
// }
