@import '@app/config.scss';

.page-help {

  &.base-template {
    padding-top: 5px;
    max-width: none;
  }

  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: Open Sans, Arial, sans-serif;

  .clouds {
    background: white url('images/clouds.svg') center bottom no-repeat;
    background-size: cover;
  }

  .section-title {
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
  }

  .section-description {
    text-align: center;
  }

  .button-container {
    text-align: center;
  }

  .components-button {
    border-radius: 3px;
  }

  .chat-icon {
    margin-left: 1rem;
  }

  .footer-icon {
    margin-right: 1rem;
  }

  .section-intro {
    position: relative;
    padding: 100px 30px 100px 30px;
    background: url('images/white-triangle.svg') center bottom no-repeat;
    background-size: cover;

    .section-title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 1rem;
    }

    .section-description {
      max-width: 450px;
      margin: 0 auto;
    }
  }

  .chat-button-container {
    position: absolute;
    top: 25px;
    right: 30px;

    @media screen and (max-width: 768px) {
      justify-content: center;
      .chat-button {
        margin-left: 0 !important;
      }
    }

    .chat-button {
      border-radius: 26px;
      margin-left: auto;
    }
  }

  .section-blue-sky {
    padding: 85px 30px 120px 30px;

    .section-title {
      margin-bottom: 1rem;
    }
  }

  .section-resources {
    padding: 75px 30px;
    max-width: 800px;
    margin: 0 auto;
  }

  .section-featured-services {
    background-color: white;
    padding: 59px 30px 74px 30px;
  }

  .featured-services {
    max-width: 800px;
    margin: 1.5rem auto 0 auto;

    .featured-services-list {
      display: inline-flex;
      flex-wrap: wrap;
      margin: -12px 0 0 -12px;
      width: calc(100% + 12px);
      text-align: center;
    }

    .featured-service {
      margin: 12px 0 0 12px;
      padding: 1rem;
      flex-basis: 1%;
      flex-grow: 1;

      &__image {
        margin-bottom: 1rem;
      }

      &__title {
        font-weight: 600;
        margin-bottom: .5rem;
      }

      &__description {

      }

      &__button {
        margin-top: 1rem;
      }
    }
  }

  .resources-search-form {
    display: flex;
    width: 480px;
    font-size: 20px;
    line-height: 32px;
    margin: 25px auto 23px auto;
    justify-content: space-between;
    background-color: white;
    border-radius: 17.5px;

    input {
      background-color: $color-white;
      border: none;
      padding: 3px 1rem 4px 17px;
      border-radius: 17.5px;
      flex-grow: 1;
      height: 36px;
      margin-right: 1px;
    }

    button {
      background-color: $color-white;
      border: none;
      border-radius: 17.5px;
      display: flex;
      align-items: center;
      padding-right: 17px;
    }
  }

  .resources-search-filters {
    text-align: center;
    margin-bottom: 23px;

    .resources-search-filter,
    &__option {
      display: inline-block;
      background-color: #D8D8D8;
      border: none;
      border-radius: 16px;
      min-width: 140px;
      height: 32px;
      text-align: center;
      font-size: 14px;
      line-height: 32px;
      padding: 0 1rem;
      margin: 1rem;

      &.--is-active {
        background-color: $color-blue;
        color: $color-white;
      }
    }
  }

  .resources-search-filters__option-field {
    display: none;
  }

  .resources-search-results {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -12px 0 43px -12px;
    width: calc(100% + 12px);
  }

  .resource-card {
    text-decoration: none;
    color: $color-black;
    background-color: $color-white;
    box-shadow: 0 2px 5px 0 rgba(42, 47, 69, 0.08);
    margin: 12px 0 0 12px;
    padding: 1rem;
    flex-basis: 25%;
    flex-grow: 1;

    &:hover {
      transform: scale(1.02);
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      max-width: 290px;
      margin: 12px auto 0 auto;
    }

    &__title {
      font-weight: 600;
    }

    &__description {
      font-weight: 300;
    }
  }

  .help-footer {
    background-color: $color-blue;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 124px;

    .call-to-action {
      display: flex;
      color: $color-white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:first-of-type {
        margin-right: 100px;
      }
    }

    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
      .call-to-action {
        flex-basis: 100%;
        justify-content: center;
        margin-right: 0 !important;
      }
    }
  }

  .media-block {
    max-width: 730px;
    margin: 0 auto;
    display: flex;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      &__media, &__details {
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media screen and (max-width: 400px) {
      &__media {
        margin-right: 0;
        margin-left: -30px !important;
      }
    }

    &__media {
      width: 359px;
      margin-right: 1rem;

      img {
        width: 400px;
      }
    }

    &__details {
      padding-top: 1.5rem;
      flex-grow: 1;
      max-width: 355px;
      margin: 0 auto;
    }

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 1rem;
    }

    &__description {
      margin-bottom: 1rem;
    }

    .components-button {
      margin-left: 0;
    }
  }

}
