.card-help {
    text-align: center;
    flex-grow: 2;

    .components-card-header,
    .components-card-footer {
        flex-direction: column;
        justify-content: end;
    }

    /* <= WP 5.8 */
    .components-card__header,
    .components-card__footer {
        justify-content: center;
    }

}