@import '@app/config';

.page-settings {
	&__grid1 {
		display: grid;
		@media(min-width: $menu-breakpoint) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		row-gap: 1.5rem;
		column-gap: 3rem;
		padding-bottom: 1.5rem;
	}
	&__block {
		padding: 24px;
	}
}
