
.components-toggle-control .components-base-control__field {
    margin-bottom: 0;
    flex-direction: row-reverse;
    justify-content: space-between;

    .components-toggle-control__label {
        font-weight: 600;
    }
}

.wppb .components-select-control__input {
    max-width: 100%;
}