.grid-col-2 {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  margin-top: 2rem;
  gap: 2rem;
}
