@import '@/config.scss';

.bluehost-no-results {
  @extend %text-m;
  max-height: 500px;
  margin: 60px 0;
  text-align: center;

  h2 {
    @extend %text-l;
    margin-bottom: 0;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }

  svg {
    max-width: 572px;
    margin: 0 auto;
  }
}