.performance {
	h3, h4 {
		margin: 0;
	}
	p {
		margin-top: 8px;
		margin-bottom: 24px;
		font-size: 16px;
	}
	input[type=radio] {
		margin-top: 1px;
	}
	.cache-level {
		label {
			font-weight: 600;
		}
		.row {
			display: flex;
			margin-top: 17px;
			&:last-child {
				margin-bottom: 32px;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
}
