.onoffswitch {
    position: relative;
	width: 61px;
    -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select: none;
}
input[type=checkbox].onoffswitch-checkbox {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    border: none;
}
.onoffswitch-label {
    display: block;
	overflow: hidden;
	cursor: pointer;
    border: 2px solid #FFFFFF;
	border-radius: 15px;
}
.onoffswitch-inner {
    display: block;
	width: 200%;
	margin-left: -100%;
    transition: margin 0.2s ease-in-out 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
	float: left;
	width: 50%;
	height: 24px;
	padding: 0;
	line-height: 24px;
    font-size: 11px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "On";
    padding-left: 11px;
    background-color: #3575D3;
	color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Off";
    padding-right: 11px;
    background-color: #999999;
	color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
	width: 16px;
	margin: 4px;
    background: #FFFFFF;
    position: absolute;
	top: 0;
	bottom: 0;
    right: 33px;
    border: 2px solid #FFFFFF;
	border-radius: 15px;
    transition: all 0.2s ease-in-out 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
