@import '@/config.scss';

.environment-card {

  display: flex;
  align-items: center;

  &__selector {
    margin-right: 16px;
  }

  &__container {
    border: 1px solid $color-light-grey;
    border-radius: 3px;
    background: $color-white;
    display: flex;
    flex-grow: 1;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  &__screenshot {
    width: 122px;
    height: 92px;
    margin-right: 16px;
    background: $color-light-grey;
    background-size: contain !important;
    border: 1px solid $color-light-grey;
  }

  &__details {
    flex-grow: 1;
  }

  &__deployment-actions {
    margin-left: 16px;
    display: flex;
    align-items: center;
  }

  &__environment-actions {
    margin-left: 16px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
  }

  &__description {

  }

  &__badge {
    border-radius: 3px;
    color: $color-white;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
    padding: 0 10px;

    &.--green {
      background: $color-green;
    }

    &.--red {
      background: $color-red;
    }
  }

}