@import '@app/config.scss';

.bluehost-modal {

  font-family: $body-font;

  .components-modal__header {
    border-bottom: none;
    height: auto;
    margin-top: 16px;

    &-heading {
      @extend %text-l;
      color: $color-black;
      font-weight: 600;
    }
  }

  .components-icon-button {
    padding: 0;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__content {
    @extend %text-m;
    color: $color-black;
    max-width: 600px;

    p:first-of-type {
      margin-top: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  .components-button.bluehost {
    @extend %text-m;
    font-weight: 600;
    color: $color-primary;

    &.is-primary {
      color: $color-white;
      text-shadow: none;

      &:active, &:focus, &:visited {
        background: $color-primary;
      }

      &.--delete {
        background: $color-red;

        &:active, &:focus, &:visited {
          background: $color-red;
        }
      }
    }

  }

  .bluehost-warning {
    flex-grow: 1;
  }
}