@import '@/config.scss';

.bluehost-warning {
  color: $color-red;
  font-size: 16px;
  line-height: 24px;

  svg {
    fill: $color-red;
    max-width: 24px;
    position: relative;
    top: .35em;
  }
}