@import "@app/config.scss";

.dropdown {

  font-size: 16px;
  line-height: 24px;

  &__label {
    display: inline-block;
    margin-right: 14px;
  }

  &__field {
    display: inline-block;
    position: relative;
    height: 40px;
  }

  &__trigger {
    text-align: left;
    width: 100%;
    height: 100%;
    border: 1px solid #d7dadf;
    border-radius: 3px;
    padding: 8px;
    position: relative;

    &:after {
      content: '▾';
      position: absolute;
      top: 6px;
      right: 8px;
    }

    &[aria-expanded="true"]:after {
      content: '▴';
    }
  }

  &__value {

  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    background: $color-white;
    margin: 0;
    padding: 8px 0;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);

    &.--is-visible {
      visibility: visible;
      z-index: 10;
    }
  }

  &__item {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 8px 16px;
    position: relative;

    &.--active {
      background: $color-primary;
      color: $color-white;
    }

    &.--selected {
      background: transparent;
      color: $color-grey;
    }
  }

  &__item-label {
    white-space: nowrap;
    user-select: none;
  }
}