.newfold-marketplace-wrapper {
    .grid {
        display: grid;
        gap: clamp(0.5rem, calc(1rem + 1vw), 2rem);
        padding: 0;

        &.col2 {
            @media screen and (min-width: 600px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media screen and (min-width: 1100px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }

    .newfold-marketplace-tabs {
        display: flex;
        flex-direction: column;

        .components-tab-panel__tabs {
            display: flex;
            /* <= WP 5.4 */
            flex-direction: row;
            /* <= WP 5.6 */
            gap: 0;
            max-width: max-content;
            height: fit-content;
            margin-bottom: 1.5rem;
            // padding: 0rem .8rem 0 .8rem;
            background-color: var(--color-white);
            box-shadow: 0px 0px 0 1px var(--color-border);

            @media screen and (max-width: 600px) {
                min-width: initial;
                overflow-y: scroll;
            }
        }
    }

    .components-tab-panel__tabs-item {
        font-size: 14px;
        color: var(--color-text);
        padding: 16px 1.5rem 16px 1.5rem;
        min-width: 130px;
        justify-content: center;
        height: auto;
        transition: all .15s ease-in-out;
        border-right: 1px solid var(--color-border);
        position: relative;

        &:hover {
            color: var(--color-title);
        }

        &:last-child {
            border-right: none;
        }

        &.current-tab {
            background-color: var(--color-off-white);
            color: var(--color-title);
            cursor: default;

            &:hover {
                color: var(--color-primary-dark);
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 3px;
                background-color: var(--color-primary);
            }
        }

        &.components-button:focus:not(:disabled) {
            box-shadow: none;
            outline: unset;
        }
    }
}

.marketplace-item {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    overflow: hidden;

    &.components-card {
        box-shadow: unset;
    }

    div:first-child {
        display: flex;
        flex-direction: column;
    }

    .components-card__media {
        position: relative;
        background-color: rgba(160, 170, 192, .35);

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(90deg,
                    rgba(#fff, 0) 0,
                    rgba(#fff, 0.2) 20%,
                    rgba(#fff, 0.5) 60%,
                    rgba(#fff, 0));
            animation: marketplace-skeleton 2s infinite;
            content: '';
        }

        @keyframes marketplace-skeleton {
            100% {
                transform: translateX(100%);
            }
        }

        img {
            aspect-ratio: 16 / 9;
            z-index: 2;
        }
    }

    .components-card__header {
        position: relative;
        border-bottom: none;
        flex-wrap: wrap;
        gap: .7rem;
        border: none !important;
        background-color: transparent !important;

        h2,
        h3 {
            font-size: .95rem;
            min-width: min-content;
            margin: 0;
        }

        .has-full-price {
            .price {
                margin-top: 8px;
            }
        }

        .price {
            background-color: var(--color-primary-lighter);
            box-shadow: 0px 0px 0 1px var(--color-primary-lighter);
            border-radius: 999px;
            color: var(--color-primary-dark);
            font-size: .95rem;
            font-weight: 800;
            min-width: max-content;
            margin-left: 0;
            padding: 0.25rem 0.95rem;
        }

        .full-price {
            filter: grayscale(.5);
            font-size: .85rem !important;
        }

    }

    .components-card__body {
        flex-grow: 1;
        padding-top: 4px;
        padding-bottom: 22px;
    }

    .components-card__footer {
        justify-content: space-between;

        .is-secondary svg {
            display: none;
        }

        .is-secondary[target=_blank] {
            box-shadow: unset;
            outline: unset;
            margin-right: -10px;

            &:hover,
            &:active,
            &:focus {
                box-shadow: unset;
                outline: unset;
                background-color: transparent;
            }

            svg {
                display: inline;
                width: 14px;
                height: auto;
                margin-top: 2px;
                margin-left: 4px;
            }
        }
    }
}