@import '@app/config.scss';

.grid {
  display: grid;
  gap: clamp(0.5rem, calc(1rem + 1vw), 2rem);

  &.col2,
  &.col3,
  &.col4 {
    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (min-width: 1100px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &.col3,
  &.col4 {
    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &.col4 {
    @media screen and (min-width: 1020px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.newfold-marketplace-tabs {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .components-tab-panel__tabs {
    display: flex;
    /* <= WP 5.4 */
    flex-direction: row;
    /* <= WP 5.6 */
    gap: 1.5rem;
    min-width: 10rem;
    max-width: max-content;
    height: fit-content;
    margin-bottom: 1.5rem;
    padding: .8rem .8rem 0 .8rem;
    background-color: $color-white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .1);

    @media screen and (max-width: 600px) {
      min-width: initial;
      flex-direction: row;
      overflow-y: scroll;
      padding: .8rem .8rem 0 .8rem;
    }
  }

  .components-tab-panel__tabs-item {
    background-color: $color-white;
    font-size: 15px;
    height: auto;
    padding: 7px 3px 16px 3px;
    transition: none;

    &:focus:not(:disabled) {
      box-shadow: none !important;
    }

    &:hover {
      color: $color-grey;
    }

    &.current-tab {
      background-color: transparent;
      color: $color-blue;
      border-bottom: 2.5px solid;
      border-color: $color-blue;
      cursor: default;
    }

    @media screen and (max-width: 600px) {
      padding: 7px 3px 19px 3px;
      font-size: 14px;
    }
  }

  .marketplace-item div:first-child {
    display: flex;
    flex-direction: column;
  }

  .marketplace-item .components-card__media {
    position: relative;
    background-color: rgba(160, 170, 192, .35);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(90deg,
          rgba(#fff, 0) 0,
          rgba(#fff, 0.2) 20%,
          rgba(#fff, 0.5) 60%,
          rgba(#fff, 0));
      animation: marketplace-skeleton 2s infinite;
      content: '';
    }

    @keyframes marketplace-skeleton {
      100% {
        transform: translateX(100%);
      }
    }

    img {
      aspect-ratio: 16 / 9;
      z-index: 2;
    }

  }

  .marketplace-item .components-card__header {
    align-items: baseline;
    border-bottom: none;
    flex-wrap: wrap;
    gap: .7rem;
    position: relative;

    h2,
    h3 {
      font-size: .95rem;
      min-width: min-content;
    }

    .price-wrap {
      margin-left: 0;
      min-width: max-content;
      text-align: center;
    }

    .price {
      background-color: rgb(26, 71, 132, .13);
      border-radius: 1rem;
      color: var(--bh-dark-blue);
      display: block;
      font-size: 1rem;
      padding: 0.25em 0.75em;
    }

    .full-price {
      background-color: rgb(26, 71, 132, .06);
      color: var(--bh-gray);
      font-size: 0.8rem;
      margin-bottom: .5rem;
      opacity: .9;
      text-decoration: line-through;
    }

  }

  .marketplace-item .components-card__body {
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 22px;
  }

  .marketplace-item .components-card__footer {
    justify-content: space-between;

    .is-secondary svg {
      display: none;
    }

    .is-secondary[target=_blank] {
      box-shadow: unset;
      outline: unset;
      margin-right: -10px;

      &:hover,
      &:active,
      &:focus {
        box-shadow: unset;
        outline: unset;
        background-color: transparent;
      }

      svg {
        display: inline;
        width: 14px;
        height: auto;
        margin-top: 2px;
        margin-left: 4px;
      }
    }
  }

}
