@import '@app/config.scss';

$mobile-padding: 30px;

.page-yoast-woocommerce-seo {
  font-size: 14px;
  line-height: 24px;

  .section-title {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    font-weight: 300;
    padding: 80px $mobile-padding 70px $mobile-padding;
  }

  .components-button.bluehost.is-primary {
    display: block;
    color: $color-white;
    width: 100% !important;
    margin-left: 0;
    text-align: center;
    background-color: #ffc229 !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), inset 0 -4px 0 rgb(0 0 0 / 20%) !important;
    color: #000 !important;
    &:active,
    &:focus,
    &:hover {
      color: #000 !important;
      background: #f2ae01 !important;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), inset 0 -4px 0 rgb(0 0 0 / 20%) !important;
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  .call-to-get-started {
    color: $color-blue;
    font-size: 16px;
    font-weight: 300;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .section-logo {
    display: flex;
    justify-content: center;
    padding: 12px 0 35px 0;
  }

  .section-intro {
    margin: 0 -2rem;
    padding: 4rem;
    @media screen and (min-width: $menu-breakpoint) {
      padding: 2rem 2rem;
    }
    @media screen and (min-width: 1024px) {
      padding: 2rem 0;
    }
    background-color: #0082a3;
  }

  .media-block {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    &__media {
      width: 359px;
      margin: 0 auto;
      @media screen and (min-width: $menu-breakpoint) {
        width: 400px;
        margin-top: 3rem;
      }
      @media screen and (min-width: 1024px) {
        width: 520px;
        margin-top: 3rem;
      }
      flex-shrink: 0;
    }

    &__title {
      color: #fff;
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
      margin: 0 0 1rem 0;
    }

    &__details {
      margin-right: 24px;
    }
    
    &__description {
      margin-bottom: 1rem;
      color: #000;
      background-color: #fff;
      font-size: 1.1rem;
      padding: 1rem 1.5rem 1rem 0.5rem;
      .yoast-list {
        list-style-position: inside;
        li {
          list-style: none!important;
          position: relative;
          margin: 0 0 8px 32px;
          &:before {
            padding-right: 10px;
            color: #64a60b;
            position: absolute;
            left: -32px;
              --icon: url("data:image/svg+xml,<svg width='24' fill='none' stroke='%2377b227' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' role='img' aria-hidden='true' focusable='false'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M5 13l4 4L19 7'></path></svg>");
              line-height: 1.5625rem;
              display: inline-block;
              width: 1.5625rem;
              height: 1.5625rem;
              content: "";
              background: currentColor;
              -webkit-mask-image: var(--icon);
              mask-image: var(--icon);
              mask-size: 1.5625rem 1.5625rem;
              -webkit-mask-size: 1.5625rem 1.5625rem;
              -webkit-mask-repeat: no-repeat;
              mask-repeat: no-repeat;
              -webkit-mask-position: center center;
              mask-position: center center;
              background-size: 100% 100%;
          }
        }
      }
    }

    &__button {
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      &__media, &__details {
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media screen and (max-width: 460px) {
      &__media {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

  }

  .section-features {
    padding: 0 $mobile-padding;

    .feature-list {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .feature-card {
      flex-basis: 324px;
      text-align: center;
      padding: 40px;
      box-sizing: border-box;
      flex-shrink: 0;
      flex-grow: 0;

      &__image {
        .dashicons {
          font-size: 64px;
          width: 64px;
          height: 64px;
          color: #a4286a;
        }
      }

      &__title {
        font-size: 20px;
        line-height: 24px;
        margin: 2.5rem 0 1rem 0;
      }

      &__description {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }

  .section-call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $mobile-padding 160px $mobile-padding;

    .section-title {
      padding-bottom: 2rem;
    }

    .call-to-action {
      display: flex;
      flex-direction: column;
      align-items: center;

      .components-button.bluehost.is-primary {
        background-color: #a4286a !important;
        color: #fff !important;
        border: 0 !important;
        &:active,
        &:focus,
        &:hover {
          background: #7b1e50 !important;
          box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), inset 0 -4px 0 rgb(0 0 0 / 20%) !important;
        }
      }
      .components-button.is-link:not(.is-primary) {
        color: #a4286a !important;
        &:active,
        &:focus,
        &:hover {
          color: #7b1e50 !important;
        }
      }

      .video {
        position: relative;
        width: 359px;
        height: auto;
        min-height: 300px;
        margin: 1rem auto;
        @media screen and (min-width: $menu-breakpoint) {
          width: 520px;
          min-height: 300px;
        }
      }

      &__title {
        color: #4A4A4A;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 2rem;
        font-weight: 300;
        text-align: center;

        a {
          text-decoration: none;
          color: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width: 498px) {
      strong {
        display: block;
      }
    }
  }
}
