#bluehost-app {
  .eig-card {
    background-color: #fefefe;
    padding: 0.66rem 1rem;
    margin: 1rem;
    border: 1px solid #d7dbe0;
    box-shadow: 0 1px 0 0 rgba(185,200,212,.5);
    min-height: 175px;
    position: relative;
    h3 {
      margin-top: 0;
      font-size: 1.33rem;
      svg {
        position: relative;
        top: 1rem;
        fill: #5A5A5A;
        margin: 0 0.5rem 0.5rem 0;
      }
    }
    .components-button-group {
      display: block;
      right: 1rem;
      position: absolute;
      bottom: 1rem;
    }
  }
  .eig-card.is-centered {
    padding-left: 2rem;
    padding-right: 2rem;
    svg {
      display: block;
      margin: 0 auto 1.5rem auto;
    }
    h3, p {
      text-align: center;
    }
    .components-button-group {
      position: initial;
      text-align: center;
      margin-top: 0.33rem;
      margin-bottom: 0.66rem;
    }
  }
}