@import '@/config.scss';

.dropdown-button {

  position: relative;

  &__button-group {
    display: flex;
  }

  &__action.bluehost.is-button {
    border-right: none;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }

  &__label {
    @extend %sr-only;
  }

  &__toggle.bluehost.is-button {
    display: flex;
    justify-content: center;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    width: 27px;

    &[disabled] {
      opacity: 0.3;
    }

    &:hover {
      background: $color-primary;
      svg {
        fill: $color-white;
      }
    }

    svg {
      min-width: 1em;
      fill: $color-primary;
    }
  }

  &__list {
    background: $color-white;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    visibility: hidden;

    &.--is-visible {
      visibility: visible;
    }
  }

  &__list-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    user-select: none;
    width: 100%;

    &-title {
      @extend %text-m;
      white-space: nowrap;
      margin-bottom: 4px;
    }

    &-description {
      @extend %text-xs;
    }

    &.--is-active {
      background: $color-primary;
      color: $color-white;
    }
  }

}