#newfold-editortours-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 160px);
    height: calc(100vh - 46px);
    @media screen and (min-width:783px) {
        height: calc(100vh - 32px);
    }
    background-color:#f1f5f7;
    z-index:999999; // because wp-admin-bar
    position:absolute;
    &.loaded {
        z-index: 0;
        display: none;
    }
    .inner p {
        color: #3d4e5e;
        font-size: 1rem;
    }
}
body.folded {
    #newfold-editortours-loading {
        width: calc(100vw - 32px);
    }
}
body.is-fullscreen-mode {
    #newfold-editortours-loading {
        width: 100vw;
        height: 100vh;
    }
}
.nf-placeholder {
    &.nf-highlight {
        transition: background-color 250ms ease-in-out;        
        background-color: #3575D3;
        color: #ffffff;
    }
}
.shepherd-element {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d7dbe0;
    max-width: 400px;
    opacity: 0;
    outline: none;
    transition: opacity 0.3s, visibility 0.3s;
    visibility: hidden;
    width: 100%;
    z-index: 9999;
    --wp-admin-theme-color: #3575d3;
    --wp-admin-theme-color-darker-10: #1a4784;
    --wp-admin-theme-color-darker-20: #1d2c5c;
    &[data-popper-reference-hidden]:not(.shepherd-centered) {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    &[data-popper-placement^="top"] > .shepherd-arrow {
        bottom: -8px;
    }
    &[data-popper-placement^="bottom"] > .shepherd-arrow {
        top: -8px;
    }
    &[data-popper-placement^="left"] > .shepherd-arrow {
        right: -8px;
    }
    &[data-popper-placement^="right"] > .shepherd-arrow {
        left: -8px;
    }
    .shepherd-arrow,
    .shepherd-arrow:before {
        position: absolute;
        width: 18px;
        height: 18px;
        z-index: -1;
    }
    .shepherd-arrow:before {
        content: "";
        transform: rotate(45deg);
        background: #fff;
    }
    &.shepherd-centered > .shepherd-arrow {
        opacity: 0;
    }
    &.shepherd-has-title[data-popper-placement^="bottom"] > .shepherd-arrow:before {
        background: #fff;
    }
    .shepherd-content {
        outline: none;
        padding: 0;
    }
    .shepherd-header {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        line-height: 2em;
        padding: 0.75rem 0.75rem 0;
    }
    .shepherd-has-title .shepherd-content .shepherd-header {
        background: #fff;
        padding: 1rem 0.66rem;
    }
    .shepherd-text {
        color: #576373;
        font-size: 1.33rem;
        line-height: 1.5em;
        padding: 0 0.75em 0.75em 0.75em;
    }
    .shepherd-text p {
        margin-top: 0;
    }
    .shepherd-text p:last-child {
        margin-bottom: 0;
    }
    .shepherd-footer {
        /* border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; */
        display: flex;
        justify-content: flex-end;
        padding: 0 0.75rem 0.75rem;
    }
    .shepherd-footer .components-button {
        margin-right: 0.66rem;
        &:last-child {
            margin-right: 0;
        }
    }
   
    
    &[data-shepherd-step-id="inserter"] {
        top: 20px !important;
    }
    &[data-shepherd-step-id="inserter-opened"] {
        left: 20px !important;
    }
}
.shepherd-enabled.shepherd-element {
    opacity: 1;
    visibility: visible;
}
.shepherd-element
.shepherd-element,
.shepherd-element *,
.shepherd-element :after,
.shepherd-element :before {
    box-sizing: border-box;
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
    pointer-events: none;
}
.shepherd-modal-overlay-container {
    -ms-filter: progid:dximagetransform.microsoft.gradient.alpha(Opacity=65);
    filter: alpha(opacity=65);
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-out, height 0ms 0.3s, opacity 0.3s 0ms;
    width: 100vw;
    z-index: 9997;
    &.shepherd-modal-is-visible {
        height: 100vh;
        opacity: 0.675;
        transition: all 0.3s ease-out, height 0s 0s, opacity 0.3s 0s;
    }
    &.shepherd-modal-is-visible path {
        pointer-events: all;
    }
}

.shepherd-cancel-icon {
    background: transparent;
    border: none;
    color: #576373;
    line-height: 1.42;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    padding: 0;
    transition: color 0.5s ease;
    position: relative;
    top: -12px;
    &:hover {
        color: rgba(0, 0, 0, 0.75);
    }
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
    color: hsla(0, 0%, 50.2%, 0.75);
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
    color: rgba(0, 0, 0, 0.75);
}
.shepherd-title {
    color: var(--wp-admin-theme-color);
    position: absolute;
    left: 16px;
    max-width: 90%;
    line-height: 1.08;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    padding-right: 1rem;
}
.wrap-std {
    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
    }
}
.bluehost-large {
    max-width: 640px;
}
.step-bluehost-logo {
    position:absolute;
    width: 138px;
    bottom: 8px;
}
.step-bluehost-squares {
    position:absolute;
    width: 28px;
    bottom: 8px;
}

.step-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}

.newfold-default-content-validation {
    .components-panel__arrow {
        display: none;
    }
    .components-notice {
        margin-left: 0;
        margin-right: 0;
    }
    #unedited {
        list-style-type: square;
        margin: 0.33rem 1rem;
    }
    .relaunch-tour {
        display: block;
        margin: 1rem auto;
    }
}

.bwa-loader {
    margin: 50px auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #3575d3;
    background: -moz-linear-gradient(left, #3575d3 5%, rgba(0,0,0,0) 32%);
    background: -webkit-linear-gradient(left, #3575d3 5%, rgba(0,0,0,0) 32%);
    background: -o-linear-gradient(left, #3575d3 5%, rgba(0,0,0,0) 32%);
    background: -ms-linear-gradient(left, #3575d3 5%, rgba(0,0,0,0) 32%);
    background: linear-gradient(to right, #3575d3 5%, rgba(0,0,0,0) 32%);
    position: relative;
    will-change: transform;
    -webkit-animation: apploader 0.9s infinite linear;
    animation: apploader 0.9s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    &:before {
        width: 50%;
        height: 50%;
        background: #3575d3;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
    }
    &:after {
        background: #f1f5f7;
        width: 88%;
        height: 88%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
  }
  @-webkit-keyframes apploader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes apploader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }