@import '@app/config';

.settings-control {
	font-size: 16px;
	line-height: 24px;
	padding: 24px;
	border-bottom: 1px solid #D7DADF;
	&:last-child {
		border: none;
	}
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	.label {
		grid-column: span 3 / span 3;
	}
}
