@import "@/config.scss";

.pagination {

  margin: 24px 0;

  &__item {
    display: inline-block;

    &:first-of-type .pagination__link {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-of-type .pagination__link {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-right: 1px solid #ddd;
    }
  }

  &__link {
    background: $color-white;
    border: 1px solid #ddd;
    border-right: none;
    color: $color-primary;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 1.5;

    &:hover, &:focus {
      color: $color-primary;
      background-color: #d7dbe0;
      border-color: #ddd;
    }

    &.--is-active {
      background: $color-primary;
      color: $color-white;
    }
  }

}