/**
 *
 */
@import '@/config.scss';

#wpbody-content {
  background-color: $color-background;
  padding-bottom: 0;
}

#wpcontent {
  padding-left: 0 !important;
}

#wpfooter {
  display: none;
}
.bluehost-app-wrap {
  font-family: "Open Sans" !important;
  font-weight: 300 !important;
  font-size: 14px;
}
.bluehost-app-wrap, h1, h2, h3, h4, h5 {
  color: #5C5C5C;
}
body.toplevel_page_bluehost {
  background-color: $color-background;
}

.screen-reader-shortcut.bluehost-spa-skip {
  &:focus {
    top: 5px;
    left: 5px;
  }
}

body:not(.bluehost-admin-keynav) {
  .app-page:focus {
    outline: none;
  }
}

#bluehost-app {
  display: block;
  height: 100%;
  min-height: 100%;
  .pure-g [class *= "pure-u"] {
    font-family: $font !important;
    font-weight: 300;
  }
}

#app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner-wrap {
    max-width: 50%;
    position: fixed;
    top: 48%;
    .components-spinner {
      background: $color-primary;
      opacity: 1;
      width: 36px;
      height: 36px;
      margin: 10px 22px 0;
      box-shadow: 0 0 1.33rem 0.66rem #BEE0F6;
      &:before {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        transform-origin: 12px 12px;
      }
    }
  }
}
h3 {
  	font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}
h4 {
  	font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
p {
  font-size: 14px;
}
.bordered-box {
  border: 1px solid #D7DBE0;
  border-radius: 3px;
  background-color: #FFFFFF;
}
