// Typography
$font: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Colors
$color-blue: #3575d3;
$color-dark-blue: #16325b;
$color-green: #17b212;
$color-orange: #f89c24;
$color-red: #d0021b;
$color-black: #5c5c5c;
$color-grey: #999999;
$color-off-white: #f9f9f9;
$color-white: #ffffff;

// Menu Breakpoint
$menu-breakpoint: 782px;

// Aliases
$color-gray: $color-grey;
$color-primary: $color-blue;
$color-default: $color-black;
$color-disabled: $color-grey;
$color-background: $color-off-white;