.welcome-section {
  max-width: 600px;
  margin-bottom: 48px; }
  .welcome-section h1 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
    font-weight: 300; }
  .welcome-section p {
    font-size: 16px; }

.bluehost-home-section {
  max-width: 800px; }
  .bluehost-home-section h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600; }
  .bluehost-home-section .bordered-box {
    padding: 0 24px; }

.bluehost-home-section-row {
  padding: 24px 0;
  border-bottom: 1px solid #D7DBE0; }
  .bluehost-home-section-row h3 {
    margin: 0 0 24px; }
    .bluehost-home-section-row h3 svg {
      margin-bottom: -4px; }
  .bluehost-home-section-row p {
    margin: 0; }
  .bluehost-home-section-row:last-of-type {
    border: none; }
  .bluehost-home-section-row .action {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end; }
    .bluehost-home-section-row .action .components-button.is-link {
      line-height: 26px; }

