/**
 * 
 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.bluehostAppFadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

#wpbody-content {
  background-color: #F9F9F9;
  padding-bottom: 0; }

#wpcontent {
  padding-left: 0 !important; }

#wpfooter {
  display: none; }

#app-wrap {
  font-family: "Open Sans" !important;
  font-weight: 300 !important; }

body.toplevel_page_bluehost {
  background-color: #F9F9F9; }

.screen-reader-shortcut.bluehost-spa-skip:focus {
  top: 5px;
  left: 5px; }

body:not(.bluehost-admin-keynav) .bluehost-page:focus {
  outline: none; }

#route-wrap {
  background-color: #f1f5f7;
  padding: 1rem; }
  @media (min-width: 900px) {
    #route-wrap {
      padding: 1.66rem; } }
  @media (min-width: 1200px) {
    #route-wrap {
      padding: 2rem; } }

#bluehost-app {
  display: block;
  height: 100%;
  min-height: 100%; }
  #bluehost-app .pure-g [class*="pure-u"] {
    font-family: 'Open Sans' !important;
    font-weight: 300; }

#app-loader {
  display: flex;
  align-items: center;
  justify-content: center; }
  #app-loader .spinner-wrap {
    max-width: 50%;
    position: fixed;
    top: 48%; }
    #app-loader .spinner-wrap .components-spinner {
      background: #3575D3;
      opacity: 1;
      width: 36px;
      height: 36px;
      margin: 10px 22px 0;
      box-shadow: 0px 0px 1.33rem 0.66rem #BEE0F6; }
      #app-loader .spinner-wrap .components-spinner:before {
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        transform-origin: 12px 12px; }

.components-button.bluehost {
  padding: 0.5rem 1rem;
  border: 0;
  text-shadow: none;
  box-shadow: none; }
  .components-button.bluehost.is-primary {
    border: 1px solid transparent;
    background: #3575D3;
    box-shadow: none;
    text-shadow: none; }
  .components-button.bluehost.is-default {
    background: transparent;
    border: 1px solid #3575D3;
    color: #3575D3; }
    .components-button.bluehost.is-default:hover {
      background: #3575D3;
      color: #fff; }

#bluehost-app .bluehost-card {
  background-color: #fefefe;
  padding: 0.66rem 1rem;
  border: 1px solid #d7dbe0;
  box-shadow: 0 1px 0 0 rgba(185, 200, 212, 0.5);
  min-height: 175px;
  position: relative; }
  #bluehost-app .bluehost-card h3 {
    margin-top: 0;
    font-size: 1.33rem; }
    #bluehost-app .bluehost-card h3 svg {
      position: relative;
      top: 1rem;
      fill: #5A5A5A;
      margin: 0 0.5rem 0.5rem 0; }
  #bluehost-app .bluehost-card .components-button-group {
    display: block;
    right: 1rem;
    position: absolute;
    bottom: 1rem; }

#bluehost-app .bluehost-card.is-centered {
  padding-left: 2rem;
  padding-right: 2rem; }
  #bluehost-app .bluehost-card.is-centered svg {
    display: block;
    margin: 0 auto 1.5rem auto; }
  #bluehost-app .bluehost-card.is-centered h3, #bluehost-app .bluehost-card.is-centered p {
    text-align: center; }
  #bluehost-app .bluehost-card.is-centered .components-button-group {
    position: initial;
    text-align: center;
    margin-top: 0.33rem;
    margin-bottom: 0.66rem; }

#bluehost-header {
  align-self: flex-start;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 3px 9px 0 rgba(42, 47, 69, 0.1), 0 2px 5px 0 rgba(42, 47, 69, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08); }

#bluehost-logo-wrap {
  width: 200px;
  padding: 1.5rem 3rem 0 2rem; }

.bluehost-page {
  padding-top: 48px;
  padding-left: 24px;
  padding-right: 24px; }

#tabs {
  height: 33px;
  padding-top: 24px;
  padding-left: 24px; }



/*# sourceMappingURL=admin.css.map*/