.bh-dark-blue {
    color: #1D2C5C;
}

.bh-bg-dark-blue {
    background-color: #1D2C5C;
}

.bh-warning-orange {
    color: #F89C24;
}

.bh-bg-warning-orange {
    background-color: #F89C24;
}

.bh-bluehost-blue {
    color: #3575D3;
}

.bh-bg-bluehost-blue {
    background-color: #3575D3;
}

.bh-dark-gray {
    color: #5B5B5B;
}

.bh-bg-dark-gray {
    background-color: #5B5B5B;
}

.bh-light-blue {
    color: #BEE0F6;
}

.bh-bg-light-blue {
    background-color: #BEE0F6;
}

.bh-light-gray {
    color: #9A9A9A;
}

.bh-bg-light-gray {
    background-color: #9A9A9A;
}

.bh-action-green {
    color: #17B212;
}

.bh-bg-action-green {
    background-color: #17B212;
}

.bh-background-blue {
    color: #EDF4F9;
}

.bh-bg-background-blue {
    background-color: #EDF4F9;
}

.bh-white {
    color: #fff;
}

.bh-bg-white {
    background-color: #fff;
}

.bh-black {
    color: #000;
}

.bh-bg-black {
    background-color: #000;
}

.bh-mojo-green {
    color: #97C64C;
}

.bh-bg-mojo-green {
    background-color: #97C64C;
}
