@import "@app/config.scss";

body *.components-button.bluehost {
  padding: 0.5rem 1rem;
  border: 0;
  text-shadow: none !important;
  box-shadow: none !important;
  height: auto;
  font-size: 16px;
  font-weight: 600 !important;
  text-decoration: none;
  margin-left: 8px;
  -webkit-transition: all 0.08s ease;
  transition: all 0.08s ease;

  &[disabled] {
    pointer-events: none;
  }

  &.is-primary {
    border: 1px solid transparent;
    background: $color-primary;
    box-shadow: none;
    color: #fff;
    &:visited, &:focus, &:not(:disabled):not([aria-disabled=true]):hover {
      background: $color-primary;
      color: #fff;
    }
    &:hover, &:active, &:focus {
      background: $color-dark-blue !important;
    }
  }
  
  &.is-secondary {
    border: 1px solid $color-primary;
    background: transparent !important;
    box-shadow: none;
    color: $color-primary;
    &:visited, &:focus, &:not(:disabled):not([aria-disabled=true]):hover {
      color: $color-primary;
      border-color: $color-primary;
    }
    &:hover, &:active, &:focus {
      background-color: $color-primary !important;
      color: $color-white !important;
    }
  }

  &.is-link {
    font-weight: 600;
    color: $color-primary;

    &:hover {
      color: $color-dark-blue !important;
      text-decoration: none !important;
    }
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &.is-default {
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: #fff;
      text-shadow: none;
      box-shadow: none;
    }

    &:active {
      background: $color-primary;
      color: #fff;
    }

    &:focus {
      background: transparent;
      color: $color-primary;
    }
  }
}
