@import '@app/config.scss';

.grid-col-2 {
  display: grid;
  grid-template-columns: minmax(0,1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
  margin-top: 2rem;
  grid-gap: 2rem;
}

.nf-onboarding__loading {
  text-align: center;
  margin: 5vw auto;
  @media screen and (min-width: $menu-breakpoint) {
    max-width: 25vw;
  }
}

.nf-onboarding__header {
  &-desc {
    font-size: 16px;
  }
}

.nf-onboarding__desktop {
  display: flex;
  flex-direction: row;
  .components-tab-panel {// const { TabPanel } = require('@wordpress/components')
    &__tabs {
      width: 240px;
      min-width: 240px;
      flex-direction: column; // because Cypress being Cypress
    }
    &__tabs-item {
      color: var(--bh-gray);
      text-align: left;
      border-left: 4px solid transparent;
      font-size: 1rem;
      &.is-active {
        border-left-color: var(--nf-primary);
        color: var(--nf-primary);
        box-shadow: none;
        font-weight: 500;
      }
      &:focus:not(:disabled),
      &:hover:not(:disabled) {
        // box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
        box-shadow: none;
        color: var(--nf-primary);
      }
    }
    &__tab-content {
      padding-left: 1rem;
      margin: 0 auto;
    }
  }
}

.nf-onboarding-base-step {
  max-width: 735px;
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 425px;
    max-height: 320px;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

div.nf-onboarding__mobile {
  background-color: transparent;
  padding: 0;
  // const { Navigation } = require('@wordpress/components')
  .components-navigation__item-title,
  .components-navigation__menu-title-heading,
  .components-navigation__back-button,
  .nf-onboarding-base-step p {
    color: #545454;
  }
  .components-navigation__item-title,
  .components-navigation__back-button {
    &:active:not(:disabled),
    &:focus:not(:disabled),
    &:hover:not(:disabled) {
      color: var(--nf-primary);
    }
  }
}