:root {
    --color-primary: #6FAC2F;
    --color-primary-dark: #568f1b;
    --color-title: #484848;
    --color-text: #4F595C;
    --color-link: #00A1EF;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-error: #E83323;
    --color-error-light: #ffebea;
    --color-white: #FFFFFF;
    --color-off-white: #F0F0F5;
    --color-black: #000000;
}

body {
    background-color: var(--color-white);
    color: var(--color-text);
}

body,
input {
    font-family: "Open Sans",sans-serif;
}

.content {
    background-image: url("../images/coming-soon.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 345px 239px;
    padding: 250px 0 0;
    max-width: 420px;
}

#wrap h1 {
    color: var(--color-title);
    font-weight: 600;
    font-family: 'Noto Serif', serif;;
    font-size: 28px;
    letter-spacing: 0.15px;
    line-height: 36px;
}

#wrap h2 {
    color: var(--color-title);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

footer p {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text);
    padding: 8px;
}

footer p a {
    color: var(--color-primary-dark);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

.btn {
    background: var(--color-primary);
    border: 5px solid var(--color-primary);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 30px;
}

.btn:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    color: var(--color-white);
}

#subscribe-text p {
    line-height: 24px;
    margin-bottom: 25px;
}

.status-message {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
    margin-bottom: 25px;
    display: none;
    padding: 8px 40px;
}

#success {
    background: var(--color-primary);
    border: 5px solid var(--color-primary);
}

#error-invalid,
#error-active {
    border: 5px solid var(--color-error);
}

form .inputs {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: all 0.1s ease;
}

form .inputs label {
    display: none;
}

form .inputs.email input[type="email"] {
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    color: var(--color-text);
    font-size: 11px;
    min-width: 240px;
    padding: 14px 15px;
    max-height: 45px;
    transition: all 0.05s ease;
}