@import '@/config.scss';

.bluehost-header {
  align-self: flex-start;
  width: 100%;
  height: 80px;
  background: $color-white;
  box-shadow: 0 3px 9px 0 rgba(42,47,69,0.1), 0 2px 5px 0 rgba(42,47,69,0.08), 0 1px 1.5px 0 rgba(0,0,0,0.08), 0 1px 2px 0 rgba(0,0,0,0.08);
}

#bluehost-logo-wrap {
  float: left;
  min-width: 148px;
  padding: 14px 0 0 12px;
  svg {
    max-height: 24px;
    min-width: 136px;
  }
  a {
    display: block;
    padding: 14px 12px;
    &:focus {
      box-shadow: none;
      outline: 1px solid $color-black;
    }
  }
}

#bluehost-nav-wrap {
  float: right;
  padding: 28px 24px 24px 0;
  text-align: right;
  .help,
  .user-menu {
    fill: $color-black;
    margin-left: 24px;
 }
}

.bluehost-nav-wrap-element {
   display: inline-block;
}

.user-menu {
  .components-popover {
    margin-left: 12px !important;
  }
  svg {
    &:hover {
      cursor: pointer;
    }
    &[aria-expanded="true"] {
      fill: $color-blue !important;
    }
  }
}

.components-popover.bluehost-nav-popup:not(.is-mobile) {
  top: 52px !important;
  left: calc(100% - 60px) !important;
  .components-popover__content {
      min-width: 256px;
  }
  &:before,
  &:after {
    right: -20px;
  }
} 

@media (min-width:$menu-breakpoint) {
  .bluehost-header {
    .bluehost-nav-wrap-element.user-menu,
    .bluehost-nav-wrap-element.help {
      display: inline-block;
    }
    .bluehost-nav-wrap-element.mobile-toggle {
      display: none;
    }
  }
}

@media (max-width:$menu-breakpoint) {
  .bluehost-header {
    .bluehost-nav-wrap-element.user-menu,
    .bluehost-nav-wrap-element.help {
      display: none;
    }
    .bluehost-nav-wrap-element.mobile-toggle {
      display: inline-block;
    }
  }
}

#bluehost-nav-popup-wrap {
    width: 256px;
    right: 12px;
    top: 100px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    z-index: 9999;
}

#bluehost-nav-popup-inner {
    padding: 8px 0;
    li:first-of-type a {
      padding-top: 6px;
    }
    ul,
    ul li {
        padding: 0;
        margin: 0;
    }
    ul li a {
      color: $color-black;
      display: block;
      padding: 16px 24px;
      text-decoration: none;
  }
}

.bluehost-nav-popup-nav-icon {
	display: inline-block;
	margin-bottom: -4px;
    padding: 0 16px 0 0;
	vertical-align: middle;
}

#bluehost-nav-popup-inner {
  svg {
      margin-left: 0;
  }
}

.menu-item-icon {
  position: relative;
  top: 6px;
  left: -6px;
}

.bluehost-nav-popup-nav-text {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	vertical-align: middle;
}

.bluehost-nav-popup::before,
.bluehost-nav-popup::after {
  margin-left: -22px !important;
}

// @import '@/config.scss';

// .bluehost-header {
//   align-self: flex-start;
//   width: 100%;
//   height: 80px;
//   background: $color-white;
//   box-shadow: 0 3px 9px 0 rgba(42,47,69,0.1), 0 2px 5px 0 rgba(42,47,69,0.08), 0 1px 1.5px 0 rgba(0,0,0,0.08), 0 1px 2px 0 rgba(0,0,0,0.08);
//   &__logo-wrap {
//     float: left;
//     min-width: 148px;
//     padding: 14px 0 0 12px;
//     svg {
//       max-height: 24px;
//       min-width: 136px;
//     }
//     a {
//       display: block;
//       padding: 14px 12px;
//       &:focus {
//         box-shadow: none;
//         outline: 1px solid $color-black;
//       }
//     }
//   }
//   &__nav-wrap {
//     float: right;
//     padding: 28px 24px 24px 0;
//     text-align: right;
//     .help,
//     .user-menu {
//       fill: $color-black;
//       margin-left: 24px;
//    }
//   }
// }

// #bluehost-logo-wrap {
//   float: left;
//   min-width: 148px;
//   padding: 14px 0 0 12px;
//   svg {
//     max-height: 24px;
//     min-width: 136px;
//   }
//   a {
//     display: block;
//     padding: 14px 12px;
//     &:focus {
//       box-shadow: none;
//       outline: 1px solid $color-black;
//     }
//   }
// }

// #bluehost-nav-wrap {
//   float: right;
//   padding: 28px 24px 24px 0;
//   text-align: right;
//   .help,
//   .user-menu {
//     fill: $color-black;
//     margin-left: 24px;
//  }
// }

// .bluehost-nav-wrap-element {
//    display: inline-block;
// }

// .user-menu {
//   .components-popover {
//     margin-left: 12px !important;
//   }
//   svg {
//     &:hover {
//       cursor: pointer;
//     }
//     &[aria-expanded="true"] {
//       fill: $color-blue !important;
//     }
//   }
// }

// .components-popover.bluehost-nav-popup:not(.is-mobile) .components-popover__content {
//     min-width: 256px;
// }

// @media (min-width:$menu-breakpoint) {
//   .bluehost-header {
//     .bluehost-nav-wrap-element.user-menu,
//     .bluehost-nav-wrap-element.help {
//       display: inline-block;
//     }
//     .bluehost-nav-wrap-element.mobile-toggle {
//       display: none;
//     }
//   }
// }

// @media (max-width:$menu-breakpoint) {
//   .bluehost-header {
//     .bluehost-nav-wrap-element.user-menu,
//     .bluehost-nav-wrap-element.help {
//       display: none;
//     }
//     .bluehost-nav-wrap-element.mobile-toggle {
//       display: inline-block;
//     }
//   }
// }

// #bluehost-nav-popup-wrap {
//     width: 256px;
//     right: 12px;
//     top: 100px;
//     text-align: left;
//     background-color: #fff;
//     box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
//     z-index: 9999;
// }

// #bluehost-nav-popup-inner {
//     padding: 8px 0;
//     ul,
//     ul li {
//         padding: 0;
//         margin: 0;
//     }
//     ul li a {
//       color: $color-black;
//       display: block;
//       padding: 16px 24px;
//       text-decoration: none;
//   }
// }

// .bluehost-nav-popup-nav-icon {
// 	display: inline-block;
// 	margin-bottom: -4px;
//     padding: 0 16px 0 0;
// 	vertical-align: middle;
// }

// #bluehost-nav-popup-inner {
//   svg {
//       margin-left: 0;
//   }
// }

// .menu-item-icon {
//   position: relative;
//   top: 6px;
//   left: -6px;
// }

// .bluehost-nav-popup-nav-text {
// 	display: inline-block;
// 	font-size: 16px;
// 	line-height: 24px;
// 	vertical-align: middle;
// }

// .bluehost-nav-popup::before,
// .bluehost-nav-popup::after {
//   margin-left: -22px !important;
// }