@import '@/config.scss';

#navigation {
  max-width: 1600px;
}
#app-primary-navigation {
  height: 33px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  .tabs {
    display: block;
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin: 0;
    li {
      margin-right: 40px;
      position: relative;
      display: inline-block;
      a {
        font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        color: #5C5C5C;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
@media(max-width: $menu-breakpoint) {
  #navigation {
    display: none;
  }
  /* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
}