.page-home__container {
  max-width: 822px;
  .welcome-section {
    max-width: 600px;
    margin-bottom: 48px;
    p {
        font-size: 16px;
    }
  }
  
}
#nf-account {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
