.wppb-section {
    margin: 0 0 2rem;
    position: relative;

    .components-card__header {
        background: var(--color-off-white);
        border: 1px solid var(--color-border);
        flex-direction: column;
        @media screen and (min-width: 1132px) {
            flex-direction: row;
        }
        .heading {
            color: var(--color-title);
            font-size: 1.5rem;
            margin-bottom: 0 !important; // wp core override
            @media screen and (min-width: 1132px) {
                margin-bottom: 24px !important;
            }
        }
        p {
            color: var(--color-text);
            font-weight: 700;
            margin-left: 0;
        }
    }
    .components-card__footer {
        .heading {
            display: flex;
            align-items: center;
            svg,
            .dashicons {
                margin-right: 4px;
            }
        }
    }


    &.wppb-section-coming-soon {

        .wppb-section-graphic {
            top: -3rem;
            right: -6rem; 
        }
    }

    &:first-of-type { // allows for better reordering and injection
        margin-top: 1rem;
    }
}

.section-graphic {
    position: absolute;
    right: 0;
    top: 2rem;
    transition: all .5s ease;
    z-index: 0;
    display: none;
    @media screen and (min-width: 882px) {
        display: block;
        max-width: 260px;
    }
    @media screen and (min-width: 1190px) {
        max-width: 330px;
    }
    @media screen and (min-width: 1399px) {
        max-width: 400px;
    }

    &.reverse {
        transform: rotateY(180deg);
        @media(prefers-reduced-motion) {
            transform: none;
        }
    }
}

.wppb-section-card {
    position: relative;
    z-index: 1;

    @media screen and (min-width: 882px) {
        max-width: 66%;
    }

    .components-card__footer {
        flex-direction: column;
        
        .wppb-cardlist-content {
            width: 100%;
            .components-heading {
                display: flex;
                align-items: center;
                .dashicons, svg {
                    margin-right: 8px;
                    color: var(--color-primary);
                    fill: var(--color-primary);
                }
            }
            @media screen and (max-width: 700px) {
                text-align: center;
                .components-heading {
                    justify-content: center;
                }
            }
        }

        .components-button {
            margin: 1rem auto;
        }

        @media screen and (min-width: 700px) {
            flex-direction: row;

            .wppb-cardlist-content {
                max-width: 60%;
            }

            .components-button {
                margin: 0;
            }
        }
    }
}