.welcome-section {
    max-width: 600px;
    margin-bottom: 48px;
    h1 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 0;
        font-weight: 300;
    }
    p {
        font-size: 16px;
    }
}

.bluehost-home-section {
    max-width: 800px;
    h2 {
        font-size: 28px;
        line-height: 40px;
        font-weight: 600;
    }
    .bordered-box {
        padding: 0 24px;
    }
}
.bluehost-home-section-row {
    padding: 24px 0;
    border-bottom: 1px solid #D7DBE0;
    h3 {
        margin: 0 0 24px;
        svg {
            margin-bottom: -4px;
        }
    }
    p {
        margin: 0;
    }
    &:last-of-type {
        border: none;
    }
    .action {
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        .components-button.is-link {
            line-height: 26px;
        }
    }
}
