@import "@/config";
.content-list-row {
    padding: 24px 0;
    @media (max-width: 600px) {
        padding: 16px 0;
    }
    border-bottom: 1px solid #D7DBE0;
    &__top {
        svg {
            position: relative;
            top: 4px;
        }
    }
    &__title {
        display: inline-block !important;
        margin-left: 8px;
        margin-top: 0 !important;
        margin-bottom: 16px !important;
    }
    &__action {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        @media (max-width: 600px) {
            padding-top: 24px;
            flex-direction: column;
            align-items: center;
            .components-button {
                width: 80%;
            }
        }
        .components-button.is-link {
            line-height: 26px;
        }
    }
    p {
        margin: 0;
    }
    &:last-of-type {
        border: none;
    }
    .bluehost.components-button.is-link {
        margin-right: 1em;
    }
}
