@import "@app/config";

.coming-soon-notice {
    .app-heading {
        margin-bottom: 9px !important;
    }
    margin-bottom: 48px !important;
    .action {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        @media (max-width: 600px) {
            padding-top: 24px;
            flex-direction: column;
            align-items: center;
            .components-button {
                width: 80%;
            }
        }
    }
}