/* BLUEHOST STYLES CONFIG */
@import '@app/config.scss';

.nf-mobile-menu {
  margin-top: 45px;
  width: 100vw;
  height: 100vh;
  .components-modal__header {
      height: 80px;
      .components-button {
          left: -8px;
      }
      .components-modal__header-heading-container {
          background-image: url('../../../../assets/svg/bluehost.svg');
          background-repeat: no-repeat;
          height: 22.47px;
          margin-left: -1px;
          h1 {
              font-size: 0;
          }
      }
  }
}

.slideout-logo-wrap {
    svg {
        width: 148px;
        height: 24px;
        float: left;
        padding-top: 28px;
        padding-left: 24px;
    }
}

#slideout-icons-wrap {
    margin-top: 24px;
    margin-right: 24px;
    float: right;
    .help, 
    .user-menu {
        display: inline !important;
    }
}

.slideout-menu-wrap {
    clear: both;
    text-align: left;
    padding-top: 12px;
    li {
        a {
            text-decoration: none;
            display: block;
            padding: 12px 0 12px 30px;
            font-size: 14px;
            font-family: $font;
            color: $color-black;
        }
    }
}