@import '@app/config.scss';

.options-menu {

  position: relative;

  button {
    background: transparent;
    border: none;
  }

  &__label {
    @extend %sr-only;
  }

  &__toggle {
    display: flex;
    &[disabled] {
      opacity: 0.3;
    }
  }

  &__list {
    background: $color-white;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    visibility: hidden;

    &.--is-visible {
      visibility: visible;
    }
  }

  &__list-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    user-select: none;
    white-space: nowrap;
    width: 100%;

    &.--is-active {
      background: $color-primary;
      color: $color-white;
    }
  }

}