@import '@app/config.scss';
.bwa-desktop-nav {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.bwa-desktop-nav__inner {
  height: 33px;
  margin: 24px 24px 0 24px;
  @media screen and (min-width: 1814px) {
    margin: 24px 0 0 0;
  }
  .bwa-desktop-nav__items {
    display: block;
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin: 0;
    .bwa-desktop-nav__item {
      margin-right: 40px;
      position: relative;
      display: inline-block;
      a {
        &.bwa-desktop-nav__link {
          color: #545454;
          text-decoration: none;
          font-size: 16px;
          line-height: 24px;
          &:focus,
          &:active {
            outline: none !important;
            box-shadow: none !important;
          }
          &:after {
            content: "";
            top: 6px;
            position: relative;
            display: block;
            width: 0;
            will-change: transition;
            border-bottom: 3px solid transparent;
            transition: all .27s ease .25s;
            padding-top: 4px;
            left: 100%;
            right: 0;
          }
          &.active {
            &:focus,
            &:active {
              outline: none !important;
              box-shadow: none !important;
            }
            color: $color-blue !important;
            &:after {
              width: 100%;
              left: 0;
              right: 0;
              border-bottom: 3px solid $color-blue;
            }
          }
        }
      }
    }
  }
}
@media (max-width:$menu-breakpoint) {
  .bwa-desktop-nav,
  .bwa-desktop-nav__inner {
    display: none;
  }
}
