@import '@app/config.scss';
.component-common-footer {
    margin-top: 2rem;
    background-color:var(--nf-primary);
    min-height: 100px;
    padding: 20px 20px 10px 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    .wrap {
        max-width: 1600px;
        margin: 0 auto;
    }
    .mark {
        float: left;
        width: 40px;
        height: 40px;
        svg g {
            fill: white;
        }
        @media screen and (min-width: $hd-breakpoint) {
            position: relative;
            left: -20px;
        }
    }
    ul.socials {
        margin: 0;
        position: relative;
        left: 48px;
        top: -2px;
        @media screen and (min-width: $hd-breakpoint) {
            left: 28px;
        }
        li {
            display: inline-block;
            height: 24px;
            width: 24px;
            &:not(:first-of-type) {
                margin-left: 1rem;
            }
            a {
                text-decoration: none;
            }
            .dashicons {
                color:#fff;
                &:before {
                    font-size: 18px;
                }
            }
        }
    }
    p {
        color: #fff;
        display: block;
        font-style: italic;
        margin: 0;
        position: relative;
        top: -2px;
        left: 48px;
        @media screen and (min-width: $hd-breakpoint) {
            left: 28px;
        }
    }
    
}