@import '@/config.scss';

.mobile-toggle {
    .components-button {
        position: relative;
        top: -8px;
        left: 12px;
    }
}

.components-popover.bluehost-mobile-menu {
    position: fixed;
    top: 45px !important;
    left: -1px !important;
    height: 100vh;
    width: 80vw;
    &.components-animate__appear.is-from-top.is-from-right {
        transform-origin: left !important;
        animation-duration: 0ms;
    }
    .components-popover__content {
        height: 100%;
        width: 80vw;
        right: initial !important;
        max-height: initial !important;
    }
}

.slideout-logo-wrap {
    svg {
        width: 200px;
        height: 24px;
        float: left;
        margin-top: 1.5rem;
    }
}

#slideout-icons-wrap {
    margin-top: 24px;
    margin-right: 24px;
    float: right;
    .help, 
    .user-menu {
        display: inline !important;
    }
}

.slideout-menu-wrap {
    clear: both;
    text-align: left;
    padding-top: 12px;
    li {
        a {
            text-decoration: none;
            display: block;
            padding: 12px 0 12px 30px;
            font-size: 14px;
            font-family: $font;
            color: $color-black;
        }
    }
}
