@import '@app/config.scss';

.page-product {

  img {
    max-width: 100%;

    &[src*="spacer-sygRO.png"] {
      display: block; // Fix for styling of imported HTML
    }
  }

  &__breadcrumbs {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 20px 0;

    &-root {
      background: transparent;
      border: none;
      color: #6f6f6f;
      margin: 0;
      padding: 0;
      &:hover {
        color: $color-primary;
      }
    }
  }

  &__main {
    background: $color-white;
    display: flex;
  }

  &__content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 25px 50px 25px 25px;
  }

  &__sidebar {
    flex-basis: 380px;
    flex-shrink: 0;
  }

  &__title {
    margin-bottom: 35px !important;
  }

  &__image {

  }

  &__description {

  }

  &__pricing-panel {
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
    padding: 50px;
    text-align: center;

    &-price {
      font-size: 3rem;
      line-height: 1;
    }

    &-currency {
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 1.5rem;
    }

    &-terms {
      font-size: 1rem;
      line-height: 1.4;
      margin-top: 1.5rem;
    }
  }

  &__info-panel {
    margin-top: 10px;
    padding: 50px;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;

    &-title {
      font-size: 1.5rem;
      line-height: 1;
      margin-top: 0;
    }

    &-created, &-updated, &-sales {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

}
