@import '@/config.scss';

.components-notice {

  padding: 16px 16px 24px;
  border-left-width: 4px;
  border-radius: 0 3px 3px 0;
  margin: 0;

  &.is-warning,
  &.is-error,
  &.is-default {
    background-color: #fff;
  }

  &.is-warning {
    border-left-color: $color-orange;
  }

  &.is-error {
    border-left-color: $color-red;
  }

  &.is-success {
    border-left-color: $color-green;
  }

  h2 {
    margin: 0 0 9px;
    font-size: 20px;
    line-height: 32px;
  }

  p {
    margin: 0;
    line-height: 24px;
  }

  &__content {
    margin: 0;
  }

}