@import '@app/config';

.component-account-card {
    .services-grid {
        display: grid;
        align-items: center;
        margin: 1rem 0;
        @media screen and (min-width: $menu-breakpoint) {
          height: calc(100% - 10px);
        }
        ul.services-list {
            height: 100%;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2,minmax(0,1fr));
              @media screen and (min-width: 968px) {
                grid-template-columns: repeat(3,minmax(0,1fr));
              }
            flex-direction: row;
            width: 100%;
            margin: 0;
            li {
              justify-content: center;
              align-items: center;
              display: flex;
              margin-bottom: 0;
              text-align: center;
              svg {
                margin: 0 auto;
                width: 48px;
                height: 48px;
              }
              p {
                margin: 0;
              }
              a {
                text-decoration: none;
                color: var(--nf-primary);
              }
              
            }
        }
    }
}