.wppb .accordion {
    border: 1px solid var(--color-border);
    margin-bottom: .6em;
    margin-top: .6em;
    opacity: .8;
    padding: 1px;
    transition: opacity .2s ease;

    &:hover,
    &[open] {
        opacity: 1;
    }

    .accordion-summary {
        background: var(--color-off-white);
        cursor: pointer;
        font-weight: 700;
        padding: 10px 15px;
 
        p {
            display: inline;
        }
    }
 
    .accordion-content {
        padding: 0 15px;
        margin: 10px 0;
    }
    
    + .accordion {
        margin-top: -.6em;
    }
}
