a, div {
	outline-color: initial;
	outline-style: initial;
	outline-width: 0px;
}

#bwa-root, .is-font {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#bwa-root {
	display: block;
	height: 100%;
	min-height: 100%;
	margin-left: -19px;
}

.wpadmin-brand-bluehost {
	--wp-admin-theme-color: var(--nf-primary);
	--wp-admin-theme-color-darker-10: var(--nf-primary-darker-10);
	--wp-admin-theme-color-darker-20: var(--nf-primary-darker-20);
}

#bwa-app, .appFadeIn {
	animation-delay: 0.11s;
	animation-duration: 0.33s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

#bwa-app, .is-color-black, h1, h2, h3, h4, h5 {
	color: rgb(91, 91, 91);
}

#bwa-app {
	background-color: var(--bh-bg-blue);
	min-height: calc(100vh + 100px);
	will-change: opacity;
}

.screen-reader-shortcut {
	position: absolute;
	top: -1000em;
	left: 6px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: 600;
	padding-top: 15px;
	padding-right: 23px;
	padding-bottom: 14px;
	padding-left: 23px;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(240, 240, 241);
	color: rgb(34, 113, 177);
	z-index: 100000;
	line-height: normal;
}

.screen-reader-shortcut:focus {
	top: -25px;
	color: rgb(34, 113, 177);
	box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px 2px;
	text-decoration-line: none;
	text-decoration-thickness: initial;
	text-decoration-style: initial;
	text-decoration-color: initial;
	outline-color: transparent;
	outline-style: solid;
	outline-width: 2px;
	outline-offset: -2px;
}

a {
	color: rgb(34, 113, 177);
	transition-property: border, background, color;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
}

.screen-reader-shortcut.bwa-skip-link:focus {
	left: 5px;
	top: 5px;
}

#bwa-root header:focus {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}

.bwa-common-header__brand {
	align-self: flex-start;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(42, 47, 69, 0.1) 0px 3px 9px 0px, rgba(42, 47, 69, 0.08) 0px 2px 5px 0px, rgba(0, 0, 0, 0.08) 0px 1px 1.5px 0px, rgba(0, 0, 0, 0.08) 0px 1px 2px 0px;
	height: 80px;
	width: 100%;
}

#bluehost-logo-wrap {
	float: left;
	min-width: 148px;
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 12px;
}

#bluehost-logo-wrap a {
	display: block;
	padding-top: 14px;
	padding-right: 12px;
	padding-bottom: 14px;
	padding-left: 12px;
}

#bluehost-logo-wrap a:focus {
	box-shadow: none;
	outline-color: rgb(91, 91, 91);
	outline-style: solid;
	outline-width: 1px;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight: 600;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

h1 {
	color: rgb(29, 35, 39);
	font-size: 2em;
	margin-top: 0.67em;
	margin-right: 0px;
	margin-bottom: 0.67em;
	margin-left: 0px;
}

.is-title-0 {
	clip: rect(0px, 0px, 0px, 0px);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: initial;
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	height: 1px;
	margin-top: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	margin-left: -1px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: absolute;
	width: 1px;
}

#bluehost-logo-wrap svg {
	max-height: 24px;
	min-width: 136px;
}

#bluehost-nav-wrap {
	float: right;
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 0px;
	text-align: right;
}

#bluehost-nav-wrap .help, #bluehost-nav-wrap .user-menu {
	fill: rgb(91, 91, 91);
	margin-left: 5px;
}

.bluehost-nav-wrap-element {
	display: inline-block;
}

.components-button {
	align-items: center;
	appearance: none;
	background-image: none;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: initial;
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-sizing: border-box;
	color: var(--wp-components-color-foreground, #1e1e1e);
	cursor: pointer;
	display: inline-flex;
	font-family: inherit;
	font-size: 13px;
	font-weight: 400;
	height: 36px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	text-decoration-line: none;
	text-decoration-thickness: initial;
	text-decoration-style: initial;
	text-decoration-color: initial;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: 0s;
	transition-property: box-shadow;
}

.components-button:focus:not(:disabled) {
	box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
	outline-color: transparent;
	outline-style: solid;
	outline-width: 3px;
}

.components-button:not([aria-disabled="true"]):active {
	color: var(--wp-components-color-foreground, #1e1e1e);
}

.components-button svg {
	fill: currentcolor;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}

.components-dropdown {
	display: inline-block;
}

button, input, select, textarea {
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.user-menu svg:hover {
	cursor: pointer;
}

.bluehost-nav-wrap-element.user-menu svg {
	height: 24px;
	width: 24px;
}

body .components-button.bluehost {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: initial;
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	font-size: 16px;
	height: auto;
	margin-left: 8px;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	text-decoration-line: none;
	text-decoration-thickness: initial;
	text-decoration-style: initial;
	text-decoration-color: initial;
	transition-duration: 0.08s;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: all;
	box-shadow: none;
	font-weight: 600;
	text-shadow: none;
}

.components-button.bluehost {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: initial;
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	text-shadow: none;
	box-shadow: none;
	height: auto;
	font-size: 16px;
	font-weight: 600;
	text-decoration-line: none;
	text-decoration-thickness: initial;
	text-decoration-style: initial;
	text-decoration-color: initial;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
}

.bwa-desktop-nav {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	max-width: 1600px;
	position: relative;
}

.bwa-desktop-nav__inner {
	height: 33px;
	margin-top: 24px;
	margin-right: 24px;
	margin-bottom: 0px;
	margin-left: 24px;
}

ol, ul {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

ul {
	list-style-position: initial;
	list-style-image: initial;
	list-style-type: none;
}

.bwa-desktop-nav__inner .bwa-desktop-nav__items {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(221, 221, 221);
	display: block;
	list-style-position: initial;
	list-style-image: initial;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

dd, li {
	margin-bottom: 6px;
}

.bwa-desktop-nav__inner .bwa-desktop-nav__items .bwa-desktop-nav__item {
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.bwa-desktop-nav__inner .bwa-desktop-nav__items .bwa-desktop-nav__item a.bwa-desktop-nav__link {
	color: rgb(84, 84, 84);
	font-size: 16px;
	line-height: 24px;
	text-decoration-line: none;
	text-decoration-thickness: initial;
	text-decoration-style: initial;
	text-decoration-color: initial;
}

.bwa-desktop-nav__inner .bwa-desktop-nav__items .bwa-desktop-nav__item a.bwa-desktop-nav__link::after {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	content: "";
	display: block;
	left: 100%;
	padding-top: 4px;
	position: relative;
	right: 0px;
	top: 6px;
	transition-duration: 0.27s;
	transition-timing-function: ease;
	transition-delay: 0.25s;
	transition-property: all;
	width: 0px;
	will-change: transition;
}

.bwa-desktop-nav__inner .bwa-desktop-nav__items .bwa-desktop-nav__item a.bwa-desktop-nav__link.active {
	color: rgb(53, 117, 211);
}

.bwa-desktop-nav__inner .bwa-desktop-nav__items .bwa-desktop-nav__item a.bwa-desktop-nav__link.active::after {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: rgb(53, 117, 211);
	left: 0px;
	right: 0px;
	width: 100%;
}

.bwa-route-contents:focus {
	box-shadow: none;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}

.component-template-common {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	max-width: 1600px;
	padding-top: 46px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}

.page-fade-speed {
	animation-duration: 315ms;
}

.page-home__container {
	max-width: 822px;
}

.page-home__container .welcome-section {
	margin-bottom: 48px;
	max-width: 600px;
}

h2, h3 {
	color: rgb(29, 35, 39);
	font-size: 1.3em;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}

.is-title-welcome {
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
}

.is-page-title, .is-title-welcome {
	margin-top: 0px;
}

.wp-die-message, p {
	font-size: 13px;
	line-height: 1.5;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}

p {
	font-size: 14px;
}

.page-home__container .welcome-section p {
	font-size: 16px;
}

.is-title-1 {
	font-size: 28px;
	line-height: 40px;
	margin-bottom: 1em;
	margin-top: 1em;
}

.is-title-1, .is-title-2, .is-title-3, .is-title-4 {
	font-weight: 600;
}

.content-list__box {
	background-color: rgb(255, 255, 255);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(215, 219, 224);
	border-right-color: rgb(215, 219, 224);
	border-bottom-color: rgb(215, 219, 224);
	border-left-color: rgb(215, 219, 224);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-top: 0px;
	padding-right: 24px;
	padding-bottom: 0px;
	padding-left: 24px;
}

.content-list-row {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(215, 219, 224);
	display: grid;
	padding-top: 24px;
	padding-right: 0px;
	padding-bottom: 24px;
	padding-left: 0px;
}

.content-list-row:last-of-type {
	border-top-width: initial;
	border-right-width: initial;
	border-bottom-width: initial;
	border-left-width: initial;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
}

.dashicons, .dashicons-before::before {
	font-family: dashicons;
	display: inline-block;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	text-decoration-line: inherit;
	text-decoration-thickness: inherit;
	text-decoration-style: inherit;
	text-decoration-color: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	width: 20px;
	height: 20px;
	font-size: 20px;
	vertical-align: top;
	text-align: center;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
	transition-property: color;
}

.dashicons-admin-post::before {
	content: "";
}

.is-title-4 {
	font-size: 16px;
	line-height: 24px;
}

.content-list-row__title {
	margin-left: 8px;
	display: inline-block;
	margin-bottom: 16px;
	margin-top: 0px;
}

.content-list-row p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.content-list-row__action {
	align-items: flex-end;
	display: flex;
	flex-direction: row-reverse;
}

.components-button.is-secondary, .components-button.is-tertiary {
	outline-color: transparent;
	outline-style: solid;
	outline-width: 1px;
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: transparent;
	color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
	white-space: nowrap;
}

.components-button.is-secondary {
	box-shadow: inset 0 0 0 1px var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
	outline-color: transparent;
	outline-style: solid;
	outline-width: 1px;
}

body .components-button.bluehost.is-secondary {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(53, 117, 211);
	border-right-color: rgb(53, 117, 211);
	border-bottom-color: rgb(53, 117, 211);
	border-left-color: rgb(53, 117, 211);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	box-shadow: none;
	color: rgb(53, 117, 211);
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: transparent;
}

.components-button.is-link {
	background-image: none;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: initial;
	border-right-style: initial;
	border-bottom-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-bottom-color: initial;
	border-left-color: initial;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;
	text-decoration-line: underline;
	text-decoration-thickness: initial;
	text-decoration-style: initial;
	text-decoration-color: initial;
	transition-duration: 0.05s;
	transition-property: border, background, color;
	transition-timing-function: ease-in-out;
}

.components-button.is-link:focus {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

body .components-button.bluehost.is-link {
	color: rgb(53, 117, 211);
	font-weight: 600;
}

body .components-button.bluehost.is-link:hover {
	color: rgb(26, 71, 132);
	text-decoration-line: none;
	text-decoration-thickness: initial;
	text-decoration-style: initial;
	text-decoration-color: initial;
}

body .components-button.bluehost.is-link:focus {
	box-shadow: none;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}

.content-list-row__action .components-button.is-link {
	line-height: 26px;
}

.content-list-row .bluehost.components-button.is-link {
	margin-right: 1em;
}

.components-button.bluehost.is-link {
	font-weight: 300;
	color: rgb(53, 117, 211);
}

.dashicons-admin-page::before {
	content: "";
}

.dashicons-menu::before {
	content: "";
}

.dashicons-admin-customizer::before {
	content: "";
}

.dashicons-admin-appearance::before {
	content: "";
}

.dashicons-performance::before {
	content: "";
}

.dashicons-desktop::before {
	content: "";
}

.dashicons-email::before {
	content: "";
}

.dashicons-admin-site::before {
	content: "";
}

.dashicons-editor-help::before {
	content: "";
}
