@import "@app/config.scss";

.component-template-common {
  @extend %template-common;
}

.component-template-common,
.component-template-base {
  &.page-help {
    #nfd-notifications {
      display: none;
    }
  }

  #nfd-notifications {
    margin: -20px 0 20px 0;
  }
}

.page-fade-speed {
  animation-duration: 315ms;
}
